.tarkov-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.0625rem solid var(--color-text);
  border-radius: 0.3125rem;
  transition: all .3s ease;
  cursor: pointer;
  position: relative;
  // box-shadow: 0rem 0rem 0.1875rem 0rem var(--productCardShadowColor);

  &:hover {
    // box-shadow: 0.125rem 0.125rem 0.6875rem 0rem var(--productCardShadowColor);
  }

  // product image
  .img-container {
    width: 100%;
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    .card-image {
      position: absolute;
      width: 100%;
      height: 100%;

      &__inner-container {
        height: 100%;
      }

      .image_hover {
        position: absolute;
        width: 100%;
        left: 0;
      }
    }
  }

  .item {
    margin: 0.3125rem;
    width: 15%;
    position: relative;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &__img {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  .options {
    width: 100%;
    min-height: 3.1875rem
  }

  &-text {
    text-align: left;
    font-size: 1.25rem;
    margin: 1.5rem 0;
    // padding: 0 0.6875rem;
    width: 100%;

    .description {
      min-height: 4.9375rem;
      width: 100%;
    }

    .title, .subtitle {
      display: block;
      line-height: 1.7rem;
    }

    .title {
      color: var(--textDescriptionColor);
      font-size: 1.25rem;
    }

    .subtitle {
      font-size: 1rem;
      color: var(--textBrandColor);
    }

    .price {
      color: var(--textColor);
      font-size: 1.625rem;

    }
  }

  .cart-button-container {
    box-shadow: 0.125rem 0.5rem 0.625rem 0  var(--productCardShadowColor);
    background-color: var(--bodyBackgroundColor);
    position: absolute;
    bottom: -4.8125rem;
    left: 0;
    right: 0;
    z-index: 5;
  }

  .cart-button {
    padding: 1.25rem 0;
    width: 80%;
    border-radius: 0.4375rem;
    background-color: var(--backgroundButtonColor);
    border: none;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 1.25rem;
  }
}
