<div class="tarkov-card" (mouseenter)="showButton()" (mouseleave)="hideButton()" [routerLink]="['/products/product/' + this.product.id]" routerLinkActive="router-link-active">
  <!-- product image -->
  <div class="img-container">
      <!-- card img -->
      <div class="card-image">
        <div class="card-image__inner-container image_hover d-flex align-items-center">
          <img class="img-fluid" *ngIf="showAddToCart" 
            [src]="product?.imageBack?.url ? imagePath + product.imageBack.url + '.jpg' : imagePath + 'none.jpg'"
            [alt]="product?.imageBack?.name ? product.imageBack.name : 'none'">
        </div>
        <div class="card-image__inner-container d-flex align-items-center">
          <img [src]="product?.imageFront?.url ? imagePath + product.imageFront.url + '.jpg' : imagePath + 'none.jpg'"
            [alt]="product?.imageFront?.name ? product.imageFront.name : 'none'" class="img-fluid">
        </div>
      </div>
  </div>
  <!-- card items -->
  <div class="row options">
    <div class="col-xl-12 d-flex flex-nowrap justify-content-center align-items-center w-100">
      <div class="item" *ngFor="let optionValue of product?.productOptions[0]?.optionValues">
        <img class="item__img" *ngIf="optionValue.image.url !== 'none'" [src]="optionValue?.image?.url ? optionsImagePath + '/' + optionValue.image.type.path + '/' + optionValue.image.url + '.jpg' : optionsImagePath + '/' + optionValue.image.type.path + '/' + 'none.jpg'" alt="">
      </div>
    </div>
  </div>

  <!-- card description -->
  <div class="tarkov-card-text mt-0">
    <span class="price">{{product.price.sell|currency|money}}</span>
    <div class="description">
        <span class="title" appFittext maxFontSize="20">{{product?.localizedDescriptions ? (product?.localizedDescriptions|localization)?.name : 'нет имени'}}</span>
        <span class="subtitle mb-3">{{product?.brand?.localizedDescriptions ? (product?.brand?.localizedDescriptions|localization)?.name : 'нет бренда'}}</span>
    </div>
  </div>
  <!-- add to cart button -->
  <!-- <div class="cart-button-container" *ngIf="showAddToCart" @showHideAddToCartButton>
    <button class="cart-button">
      {{localizations|locale_keyword:'addtocart'}}
    </button>
  </div> -->
</div>

