<!-- contact -->
<!-- navigation path -->
<div class="path">
  <span>{{localizations|locale_keyword:'home'}} / {{localizations|locale_keyword:'contacts'}}</span>
</div>
<div class="container-tarkov">
  <!-- boxes -->
  <div class="row boxes">
    <div class="col-md-4">
      <div class="box ship">
        <div class="row">
          <div class="col-3 px-1">
            <img src="../../../assets/icons/contacts/around.svg" alt="">
          </div>
          <div class="col-9">
            <div class="w-100">
              <h3 class="ship__header" appFittext maxFontSize="25">{{localizations|locale_keyword:'weshipworld'}}</h3>
            </div>
            <div class="row">
              <div class="col-9 pt-2 pr-0">
                <div class="ship__line"></div>
                <span class="ship__days" appFittext maxFontSize="20">{{localizations|locale_keyword:'upto3'}}</span>
              </div>
              <div class="col-3 px-0">
                <img class="w-100" src="../../../assets/icons/contacts/box.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box payment">
        <div class="row">
          <div class="col-9 d-flex flex-column">
            <div w-100>
              <h3 class="payment__header mb-auto" appFittext maxFontSize="36">{{localizations|locale_keyword:'yourpayment'}}</h3>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <div class="payment__card">
                <img src="../../../assets/icons/contacts/paypal.svg" alt="">
              </div>
              <div class="payment__card">
                <img src="../../../assets/icons/contacts/mastercard.svg" alt="">
              </div>
              <div class="payment__card">
                <img src="../../../assets/icons/contacts/visa.svg" alt="">
              </div>
            </div>
          </div>
          <div class="col-3 px-1">
            <img class="w-100" src="../../../assets/icons/contacts/shield.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box eft">
        <img class="w-50" src="../../../assets/icons/contacts/EfT_LogotypeMin.svg" alt="">
        <div class="w-75 m-auto">
          <h3 class="eft__header" appFittext maxFontSize="25">{{localizations|locale_keyword:'Officialeft'}}</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- contacts -->
  <div class="row contacts">
    <!-- left side -->
    <div class="col-md-6">
      <div class="map"></div>
    </div>
    <!-- right side -->
    <div class="col-md-6">
      <div class="row mb-5 mb-md-4">
        <div class="col-md-6 mb-4 mb-md-0 d-flex">
          <svg class="connection-icon ">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Phone"></use>
          </svg>
          <span class="connection-text">+7 (495) 646-96-73</span>
        </div>
        <div class="col-md-6 d-flex">
          <svg class="connection-icon">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Mess"></use>
          </svg>
          <span class="connection-text">sale@grey-line.com</span>
        </div>
      </div>
      <!-- social icons -->
      <div class="row mb-5 mb-md-4">
        <div class="col-md-12">
          <div class="icon-list">
            <a class="icon-list__item" href="https://www.facebook.com/escapefromtarkov" target="_blank">
              <svg class="contact-icon">
                <use xlink:href="../../../assets/icons/sprite.svg#icon-Facebook"></use>
              </svg>
            </a>
            <a class="icon-list__item" href="https://vk.com/escapefromtarkov" target="_blank">
              <svg class="contact-icon">
                <use xlink:href="../../../assets/icons/sprite.svg#icon-VK"></use>
              </svg>
            </a>
            <a class="icon-list__item" href="https://www.instagram.com/escapefromtarkovofficial/" target="_blank">
              <svg class="contact-icon">
                <use xlink:href="../../../assets/icons/sprite.svg#icon-Inst"></use>
              </svg>
            </a>
            <a class="icon-list__item" href="https://www.youtube.com/channel/UC5QGploHhl9_XaxDiHZKamg" target="_blank">
              <svg class="contact-icon">
                <use xlink:href="../../../assets/icons/sprite.svg#icon-Youtube"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!-- feedback -->
      <div class="row mb-4">
        <div class="col-md-12"><span class="form-title">{{localizations|locale_keyword:'tellus'}}</span></div>
      </div>
      <form class="row" [formGroup]="tellUsFormGroup" (submit)="onSubmit()">
        <div class="col-md-12">
          <div class="form-group">
            <input type="email" class="form-control form-input" placeholder="{{localizations|locale_keyword:'youremail'}}" formControlName="email">
          </div>
        </div>
        <div class="col-md-12">
          <textarea name="" id="" cols="30" rows="10" class="form-control form-textarea" placeholder="{{localizations|locale_keyword:'yourmessage'}}"
            formControlName="message"></textarea>
        </div>
        <div class="d-flex flex-column justify-content-between w-100 p-5">
          <ngx-recaptcha2
            *ngIf="tellUsFormGroup?.value?.message?.length > 3 && tellUsFormGroup?.value?.email?.length > 3"
            class="mb-3"
            #captchaElem
            siteKey="6Ld6x80UAAAAALqJY3PbGcHeDkAXK-ihKN3RuN09"
            theme="dark"
            formControlName="recaptcha">
          </ngx-recaptcha2>
          <button class="contact-btn">{{localizations|locale_keyword:'submit'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
