@import "../../../mixins";

.path {
  padding: 5.625rem 0 1.625rem 1rem;
  font-size: 1rem;
}

.container-tarkov {
  margin: 0 2.5rem;

  @include respond(tab-land) {
    margin: 0 1.25rem;
  }

  @include respond(iPad) {
    margin: 0 1rem;
  }

  .boxes {
    margin-bottom: 3.75rem;

    @include respond(iPad) {
      margin-bottom: 1rem;
    }

    .box {
      min-height: 12.3125rem;
      padding: 2rem;
      opacity: 1;
      border-radius: 0.4375rem;
      transition: all .5s;
      height: 10vw;

      &:hover {
        transform: scale(1.05);
      }

      @media(min-width: 768px) and (max-width: 1200px) {
        min-height: 9.8125rem;
      }

      @include respond(iPad) {
        margin-bottom: 1rem;
      }

      @include respond(phone) {
        min-height: 8.375rem;
      }
    }
  }

  .ship {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(255,180,0) 100%);

    &__header {
      color: var(--textInvertColor);
    }

    &__line {
      width: 100%;
      height: 0.125rem;
      background-color: var(--textHighLightColor);
      position: relative;

      &::after {
        content: "";
        width: 1rem;
        height: 0.125rem;
        background-color: var(--textHighLightColor);
        position: absolute;
        right: 0;
        transform: rotate(30deg);
        bottom: 0.25rem;
      }

      &::before {
        content: "";
        width: 1rem;
        height: 0.125rem;
        background-color: var(--textHighLightColor);
        position: absolute;
        right: 0;
        transform: rotate(-30deg);
        top: 0.25rem;
      }
    }

    &__days {
      display: block;
      color: var(--textHighLightColor);
      margin-top: 0.5rem;
    }
  }

  .payment {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(84,185,217) 100%);

    &__header {
      color: var(--textInvertColor);
    }

    &__card {
      background-color: var(--backgroundLabelColor);
      border-radius: 0.625rem;
      border: 0.0625rem solid var(--borderInputColor);
      width: 32%;
      display: flex;
      justify-content: center;

      img {
        max-height: 4rem;
        width: 75%;
      }
    }
  }

  .eft {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(132,127,110) 100%);

    &__header {
      color: var(--textInvertColor);
      text-align: center;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: -0.8125rem;
        bottom: 0;
        width: 2.8125rem;
        background-repeat: no-repeat;
        background-image: url(../../../assets/icons/contacts/check-mark.svg);
      }
    }
  }

  .contacts {
    margin-bottom: 3.75rem;

    .map {
      height: 100%;
      border-radius: 0.4375rem;
      background-color: var(--textDescriptionColor);

      @include respond(iPad) {
        height: 20.875rem;
        width: 100%;
        margin-bottom: 3rem;
      }
    }

    .icon-list {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;

      &__item {
        padding: 0 0.8rem;

        &:first-child {
          padding-left: 0;
        }

        &:hover {
          .contact-icon {
            fill: var(--textHighLightColor);
            transition: .5s ease;
          }
        }
      }
    }

    .connection-text {

      @include respond(tab-land) {
        font-size: 1rem;
      }
    }

    .connection-icon {
      margin-right: 1.75rem;

      @include respond(tab-land) {
        margin-right: 0.9375rem;
      }
    }

    .contact-icon, .connection-icon {
      height: 1.3125rem;
      width: 1.3125rem;
      fill: var(--textColor);
    }

    .form-title {
      font-size: 1.5625rem;

      @include respond(tab-land) {
        font-size: 1.1875rem;
      }
    }

    .form-input {
      height: 4.875rem;
      background-color: var(--textDescriptionColor);
      border-radius: 0.4375rem;
      border: solid 0.0625rem var(--textColor);
    }

    .form-textarea {
      background-color: var(--textDescriptionColor);
      border-radius: 0.4375rem;
      border: solid 0.0625rem var(--textColor);
    }

    .form-input::placeholder, .form-textarea::placeholder {
      color: #575757;
    }

    // Невалидная форма
    /*     input.ng-invalid{
      border-color: red;
     } */

    .contact-btn {
      border: none;
      padding: 1.5625rem 6rem;
      border-radius: 0.4375rem;
      background-color: var(--textColor);

      @include respond(iPad) {
        width: 100%;
      }
    }
  }
}



