<!-- cart list -->
<div class="cart" @showHideCart>
  <div class="cart-container d-flex flex-column">
    <!-- cart header -->
    <div class="cart-header d-flex justify-content-between">
      <span class="cart-text cart-text__name">{{localizations|locale_keyword:'yourcart'}}</span>
      <span class="cart-text--remove ml-auto" (click)="removeAll()">{{localizations|locale_keyword:'removeall'}}</span>
    </div>
    <div class="cart-list">
      <!-- cart item -->
      <app-cart-item *ngFor="let cartItem of cart.cartItems; let i = index" [cartItem]="cartItem" [cartItemIndex]="i"></app-cart-item>
    </div>
    <!-- total -->
    <div class="cart__total mt-auto">
      <div class="cart-sum">
        <div class="cart-sum--text">
          <span>{{localizations|locale_keyword:'subtotal'}}</span>
<!--          <span>Total:</span>-->
        </div>
        <!-- price -->
        <div class="cart-sum--price">
          <span class="cart-text--price">{{subTotalPrice|money}}</span>
<!--          <span class="cart-text&#45;&#45;price">$73</span>-->
        </div>
      </div>
      <div class="d-flex cart-btn__container">
        <!-- checkout button -->
        <button type="button" class="cart-btn" routerLink="/checkout" (click)="hideCheckout()" [disabled]="cartItemsAmount < 1">{{localizations|locale_keyword:'Checkout'}}</button>
      </div>
    </div>
  </div>
</div>
