@import "../../../mixins";

.cart {
  margin-top: 4rem;
  font-size: 1.25rem;
  height: calc(100vh - 4rem);
  width: 50%;
  // box-shadow: 0 1rem 5rem var(--cartShortShadowColor), 0 1rem .375rem var(--cartLongShadowColor);
  background-color: var(--backgroundColor);
  position: fixed;
  z-index: 1999;
  right: 0;

  @include respond(bootstrap-tab-land ) {
    width: 100%;
  }

  @include respond(phone) {
    font-size: 1rem;
  }

  &-text {
    cursor: pointer;

    &__name {
      font-size: 1.125rem;
      color: var(--textColor);
    }

    &--remove {
      cursor: pointer;
      // opacity: 0.4;
      color: var(--textBrandColor);
      font-size: 1rem;
      transition: opacity .3s ease;

      @include respond(tab-land) {
        font-size: 1rem;
      }
    }

    &--remove:hover {
      color: var(--removeAllHover);
    }
  }

  &-container {
    margin: 0 1.9375rem;
    height: 100%;

    @include respond(phone) {
      margin: 0 1rem;
    }
  }

  &-header {
    margin: 1.6875rem 0 0.9375rem 0;
  }

  &-list {
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox 64 */

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  &__total {
    box-shadow: 0 -2.9375rem 2.2rem 0 var(--bottomInnerCartShadowColor);
    z-index: 55;
    background-color: var(--cartListTotalBackground);
    margin: 0 -1.9375rem;
    padding: 1.1875rem 1.6875rem;
  }

  &-sum {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.3125rem;

    @include respond(tab-land) {
      font-size: 1rem;
    }

    &--text {
      display: flex;
      flex-direction: column;
      font-size: 1.625rem;
      color: var(--textDescriptionColor);
      margin-right: 0.625rem;
    }

    &--price {
      display: flex;
      flex-direction: column;
      font-size: 1.625rem;
      color: var(--textColor);
    }
  }

  &-btn {
    border: none;
    padding: 1.1875rem 2.25rem;
    border-radius: 0.4375rem;
    background-color: var(--textColor);
    color: var(--textInvertColor);
    font-size: 1.5rem;

    &:hover {
      background-color: var(--backgroundButtonColorHover);
    }

    &:disabled {
      background-color: var(--backgroundButtonDisabled);
    }

    &__container {
      margin-bottom: 1rem;

      @include respond(bootstrap-tab-land) {
        margin-bottom: 3rem;
      }
    }
  }
}
