@import "../../../mixins";

.tarkov-container {
    padding-top: 4rem;

    .final {
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 2rem;;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0.0625rem solid var(--borderInputColor);
        box-shadow: -0.0625rem 0rem 0.9375rem 0rem var(--optionShadowColor);
        border-radius: 0.625rem;
        background-color: var(--backgroundColor);
        padding: 1.4375rem 6.1875rem;

        @include respond(tab-land) {
            width: 90%;
        }

        @include respond(bootstrap-iPad) {
            padding:  1.4375rem 0.125rem;
        }

        &__header {
            font-size: 2.5rem;
            line-height: 2.3rem;
        }

        &__icon {
            width: 6.25rem;
            height: 6.25rem;
            margin: 2rem 0;
        }

        &__info {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}