<div class="tarkov-container" *ngIf="order">
    <!-- <div class="final">
        <p class="final__header">Your order: <span>{{orderParams ? orderParams.orderId : 0}}</span><br> have been placed!</p>
        <img class="icon mr-3 final__icon" src="../../../assets/icons/List.svg">
        <p class="final__info">We will send all information via email and will ship your order in few days</p>
    </div> -->
  <div class="final" *ngIf="order.statusID === 3 || order.statusID === 4; else noMoney">
    <p class="final__header" *ngIf="languageString === 'RU'">Ваш заказ:: <span>{{order.orderID ? order.orderID : order.id}}</span><br> был размещен!</p>
    <p class="final__header" *ngIf="languageString === 'EN'">Your order: <span>{{order.orderID ? order.orderID : order.id}}</span><br> have been placed!</p>
    <img class="icon mr-3 final__icon" src="../../../assets/icons/List.svg">
    <p class="final__info" *ngIf="languageString === 'RU'">Мы отправим всю информацию по электронной почте и отправим Ваш заказ в течение нескольких дней.</p>
    <p class="final__info" *ngIf="languageString === 'EN'">We will send all information via email and will ship your order in few days</p>
  </div>
  <ng-template #noMoney>
    <div class="final">
        <p class="final__header" *ngIf="languageString === 'RU'"> Извините, ваша оплата не прошла.</p>
        <p class="final__header" *ngIf="languageString === 'EN'">Sorry, your payment is failed.</p>
        <img class="icon mr-3 final__icon" src="../../../assets/icons/error.svg">
        <p class="final__info" *ngIf="languageString === 'RU'">Пожалуйста, попробуйте снова</p>
        <p class="final__info" *ngIf="languageString === 'EN'"> Please try again</p>
    </div>
  </ng-template>
</div>
