<!-- contact -->
<!-- navigation path -->
<div class="path">
  <span>{{localizations|locale_keyword:'home'}} / {{localizations|locale_keyword:'Checkout'}}</span>
</div>
<div class="container-tarkov">
  <div class="row">
    <div class="col-sm-12 col-xl-5">
      <div class="container-tarkov__block mb-3">
        <!-- ошибка если не выбраны все поля -->
        <p class="text-center container-tarkov__warning" *ngIf="formAttention">заполните все поля</p>
        <!-- input name -->
        <div class="form-group row">
          <label for="name" class="col-sm-4 col-form-label">{{localizations|locale_keyword:'ckname'}}
            <sup class="container-tarkov__field-warning" *ngIf="formAttention && !address.firstName">*</sup></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="name" [(ngModel)]="address.firstName" (keydown)="checkOnString($event)"/>
          </div>
        </div>
        <!-- input surname -->
        <div class="form-group row">
          <label for="surname" class="col-sm-4 col-form-label">{{localizations|locale_keyword:'cksurname'}}
            <sup class="container-tarkov__field-warning" *ngIf="formAttention && !address.lastName">*</sup>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="surname" [(ngModel)]="address.lastName" (keydown)="checkOnString($event)"/>
          </div>
        </div>
        <!-- input phone -->
        <div class="form-group row">
          <label for="phone" class="col-sm-4 col-form-label">{{localizations|locale_keyword:'chphone'}}
            <sup class="container-tarkov__field-warning" *ngIf="formAttention && !address.phone">*</sup>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="phone" [(ngModel)]="address.phone" (keydown)="checkOnPhone($event)"/>
          </div>
        </div>
        <!-- input email -->
        <div class="form-group row mb-0">
          <label for="email" class="col-sm-4 col-form-label">{{localizations|locale_keyword:'email'}}
            <sup class="container-tarkov__field-warning" *ngIf="(formAttention && !address.email) || emailInvalid">*</sup>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="email" [(ngModel)]="address.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #emailInput/>
          </div>
        </div>
      </div>
      <div class="container-tarkov__block mb-3">
        <!-- input address -->
        <div class="form-group row">
          <label for="address" class="col-sm-4 col-form-label">{{localizations|locale_keyword:'chadress'}}
            <sup class="container-tarkov__field-warning" *ngIf="formAttention && !address.description">*</sup>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="address" [(ngModel)]="address.description"/>
          </div>
        </div>
        <!-- input city -->
        <div class="form-group row">
          <label for="city" class="col-sm-4 col-form-label">{{localizations|locale_keyword:'chcity'}}
            <sup class="container-tarkov__field-warning" *ngIf="formAttention && !address.city">*</sup>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="city" [(ngModel)]="address.city"/>
          </div>
        </div>
        <!-- input postcode -->
        <div class="form-group row">
          <label for="postcode" class="col-sm-4 col-form-label">{{localizations|locale_keyword:'chpostcode'}}
            <sup class="container-tarkov__field-warning" *ngIf="formAttention && !address.zip">*</sup>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="postcode" [(ngModel)]="address.zip"/>
          </div>
        </div>
        <!-- select country -->
        <!--        <div class="form-group row">-->
        <!--          <label for="country" class="col-sm-4 col-form-label">Страна</label>-->
        <!--          <div class="col-sm-8">-->
        <!--            <select id="country" class="form-control" (change)="changeCountry($event)" [(ngModel)]="countryID">-->
        <!--              <option [selected]>Choose...</option>-->
        <!--              <option *ngFor="let country of countries" [value]="country.id">-->
        <!--                {{-->
        <!--                  country.localizedDescriptions-->
        <!--                      ? (country.localizedDescriptions | localization).name-->
        <!--                      : "none"-->
        <!--                }}-->
        <!--              </option>-->
        <!--            </select>-->
        <!--          </div>-->
        <!--        </div>-->
        <!-- select country -->
        <div class="form-group row">
          <label for="country" class="col-sm-4 col-form-label">{{localizations|locale_keyword:'chcountry'}}
            <sup class="container-tarkov__field-warning" *ngIf="formAttention && !countryShort">*</sup>
          </label>
          <div class="col-sm-8">
            <ng-select
              id="country"
              [items]="countries"
              bindLabel="title"
              (change)="chooseCountry()"
              [(ngModel)]="countryShort">
              <!--              <ng-option *ngFor="let countryShort of countryList" [value]="countryShort">{{(countryShort.localizedDescriptions|localization_array)[0].text}}</ng-option>-->
              <!--              <ng-option [value]="'custom'">Custom</ng-option>-->

            </ng-select>
          </div>
        </div>
        <!-- select region -->
        <div class="form-group row">
          <label for="region" class="col-sm-4 col-form-label">{{localizations|locale_keyword:'chregion'}}</label>
          <div class="col-sm-8">
            <ng-select
              id="region"
              [items]="regions"
              bindLabel="name"
              (change)="chooseRegion()"
              [(ngModel)]="regionShort"
              [disabled]="countryShort == null">
              <!--              <ng-option *ngFor="let countryShort of countryList" [value]="countryShort">{{(countryShort.localizedDescriptions|localization_array)[0].text}}</ng-option>-->
              <!--              <ng-option [value]="'custom'">Custom</ng-option>-->

            </ng-select>
          </div>
        </div>
        <!-- input company -->
        <!-- <div class="form-group row">
          <label for="company" class="col-sm-4 col-form-label">Компания</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="company" [(ngModel)]="address.company"/>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-sm-12 col-xl-7">
      <!-- Options cards -->
      <div class="mb-3 options">
        <div class="container-tarkov__block options__block options__left">
          <div class="d-flex align-items-center">
            <h3 class="m-3" appFittext maxFontSize="17">{{localizations|locale_keyword:'chdelivery'}}
              <sup class="container-tarkov__field-warning" *ngIf="formAttention && !selectedDeliveryId">*</sup>
            </h3>
            <span class="options__block-attention" *ngIf="deliveryAttention && !countryShort">{{localizations|locale_keyword:'countryselect'}}</span>
            <span class="options__block-attention" *ngIf="deliveryIncompatibilityWithCountry">{{localizations|locale_keyword:'deliveryalert'}}</span>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <!-- radio button -->
            <div *ngFor="let delivery of deliveries" class="option gitd-flex flex-column"
                 [ngClass]="{'option_active': selectedDeliveryId===(delivery.id)}" [style.display]="delivery.enabled ? 'block' : 'none'"
                 (click)="chooseDeliveryId(delivery.id)">
              <div class="option__image-container">
                <img class="option__image" [src]="getImagePath(delivery.image)"
                     [alt]="(delivery.localizedDescriptions | localization).title"
                     [title]="(delivery.localizedDescriptions | localization).title"/>
              </div>
              <p class="option__header mt-auto" appFittext
                 maxFontSize="17">{{ (delivery.localizedDescriptions | localization).name }}</p>
              <p class="option__price"  *ngIf="countryShort">{{this.deliveryCost ? (this.deliveryCost|currency|money) : ''}}</p>
              <div class="overlay overlay_card" *ngIf="!countryShort"></div>
            </div>
          </div>
          <div class="overlay overlay__transparent" *ngIf="!countryShort" (click)="showDeliveryAttention()"></div>
        </div>
        <div class="container-tarkov__block options__block options__right">
          <div class="d-flex align-items-center">
            <h3 class="m-3" appFittext maxFontSize="17">{{localizations|locale_keyword:'chpayments'}}
              <sup class="container-tarkov__field-warning" *ngIf="formAttention && !selectedPaymentId">*</sup>
            </h3>
            <span class="options__block-attention" *ngIf="paymentIncompatibilityWithCountry">{{localizations|locale_keyword:'paymentalert'}}</span>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <!-- radio button -->
            <div *ngFor="let payment of payments" class="option gitd-flex flex-column"
                 [ngClass]="{'option_active': selectedPaymentId===(payment.id)}"
                 (click)="choosePaymentId(payment.id)">
              <div class="option__image-container">
                <img class="option__image" [src]="getImagePath(payment.image)"
                     [alt]="(payment.localizedDescriptions | localization).title"
                     [title]="(payment.localizedDescriptions | localization).title"/>
              </div>
              <p class="option__header mt-auto" appFittext
                 maxFontSize="17">{{ (payment.localizedDescriptions | localization).name }}</p>
            </div>
          </div>
        </div>
      </div>
      <!--      <div class="container-tarkov__block mb-3">-->
      <div class="container-tarkov__block mb-3">
        <!-- Cart items headers -->
        <div class="row justify-content-between align-items-center order-items__headers ml-0 mr-0">
          <div class="col-3 col-md-3 px-1">{{localizations|locale_keyword:'chimage'}}</div>
          <div class="col-4 col-md-5 px-1">{{localizations|locale_keyword:'chproductname'}}</div>
          <div class="col-3 col-md-2 px-1">{{localizations|locale_keyword:'chquantity'}}</div>
          <div class="d-none d-md-block col-md-1 px-1">{{localizations|locale_keyword:'chunitprice'}}</div>
          <div class="col-2 col-md-1 px-1">{{localizations|locale_keyword:'chtotal'}}</div>
        </div>
        <!-- item -->
        <div class="order-item" [ngClass]="{'order-item_unactive': cartItem.orderCount == 0}"
             *ngFor="let cartItem of cart.cartItems; let cartItemIndex = index">
          <div class="row justify-content-between align-items-center mb-4 ml-0 mr-0">
            <!-- img -->
            <div class="col-3 col-md-3 px-1">
              <div class="order-item__image-container d-flex justify-content-center align-items-center">
                <img
                  [src]="cartItem.product?.imageFront?.url ? imagePath + cartItem.product.imageFront.url + '.jpg' : imagePath + 'none.jpg'"
                  class="img-fluid"/>
              </div>
            </div>
            <!-- title -->
            <div class="col-4 col-md-5 d-flex flex-column order-item__header px-1">
              <p class="w-100">
                  <span class="order-item__product-name" appFittext maxFontSize="25">
                    {{cartItem.product?.localizedDescriptions ? (cartItem.product.localizedDescriptions|localization).name : 'нет имени'}}
                  </span>
              </p>
              <!-- options -->
              <div *ngFor="let option of cartItem.optionValues">
                <span class="order-item__product-options" *ngIf="option.optionTypeID === 1">
                  <span *ngIf="languageString === 'EN'">color: </span>
                  <span *ngIf="languageString === 'RU'">цвет: </span>
                  {{option?.localizedDescriptions ? (option.localizedDescriptions|localization).name : 'no color'}}
                </span>
                <span class="order-item__product-options" *ngIf="option.optionTypeID === 2">
                  <span *ngIf="languageString === 'EN'">size: </span>
                  <span *ngIf="languageString === 'RU'">размер: </span>
                  <span >{{option?.sizeType ? option[option.sizeType] : 'no size'}}</span>
                </span>
              </div>
            </div>
            <!-- количество -->
            <div class="col-3 col-md-2 px-1">
              <!-- quantity -->
              <div class="count">
                <!-- button remove -->
                <button class="btn-icon" (click)="decCartItem(cartItemIndex)">
                  <svg class="icon icon-prev">
                    -->
                    <use xlink:href="../../../assets/icons/sprite.svg#icon-Next_1"></use>
                  </svg>
                </button>
                <!-- value -->
                <!-- <span class="count__value">{{cartItem.orderCount}}</span> -->
                <input class="count__input" type="text" (keydown)="checkOnNumbers($event, cartItemIndex)" (keyup)="changeAmountOfProduct(cartItemIndex)" appAutowidth [(ngModel)]="cartItem.orderCount" #productCountInput>
                <!-- button add -->
                <button class="btn-icon btn-icon_next" (click)="incCartItem(cartItemIndex)">
                  <svg class="icon icon-next">
                    <use xlink:href="../../../assets/icons/sprite.svg#icon-Next_1"></use>
                  </svg>
                </button>
              </div>
            </div>
            <!-- цена -->
            <div
              class="d-none d-md-block col-md-1 order-item__unit-price px-1">{{ cartItem.product.price.sell|currency|money }}</div>
            <div
              class="col-2 col-md-1 px-1 order-item__total-price">{{ ((cartItem.product.price.sell|currency) * cartItem.orderCount)|money }}</div>
          </div>
        </div>
        <!-- comment -->
        <div class="order-comment">
          <div class="form-group">
            <textarea @fadeInOut *ngIf="showComment" class="form-control" rows="10" maxlength="1800"></textarea>
          </div>
          <span class="d-inline-block order-comment__button" (click)="invertShowComment()"><span *ngIf="showComment">—</span><span *ngIf="!showComment">+</span> {{localizations|locale_keyword:'chcomment'}}</span>
        </div>
        <!-- total sum -->
        <div class="order-total">
          <table>
            <tr>
              <td class="order-total__header">{{localizations|locale_keyword:'chsubtotal'}}</td>
              <td>{{this.productsCost|money}}</td>
            </tr>
            <tr>
              <td class="order-total__header">{{localizations|locale_keyword:'deliv'}}:</td>
              <td>{{this.deliveryCost|currency|money}}</td>
            </tr>
            <tr>
              <td class="order-total__header">{{localizations|locale_keyword:'challtotal'}}</td>
              <td>{{((this.deliveryCost|currency) + this.productsCost)|money}}</td>
            </tr>
          </table>
        </div>
      </div>

      <!--   кнопка перехода к оплате   -->
      <div class="row tarkov-btn-container">
        <!-- submit button -->
        <button class="tarkov-btn" type="button" (click)="moveToPayment()" *ngIf="!showPaymentBlock">
          {{localizations|locale_keyword:'chpayit'}}
        </button>
      </div>

      <!--   блок оплат   -->
      <div class="container-tarkov__block mb-3" #paymentBlock *ngIf="showPaymentBlock" @fadeInOut>
        <!--    paypal    -->
        <div class="mx-auto text-center" *ngIf="payment?.id === 1">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
          <app-paypal></app-paypal>
        </div>
        <!--    sberbank    -->
        <div class="mx-auto text-center" *ngIf="payment?.id === 2">
          <app-sberbank></app-sberbank>
        </div>
        <!--    tinkoff    -->
        <div class="mx-auto text-center" *ngIf="payment?.id === 3">
          <app-tinkoff></app-tinkoff>
        </div>
      </div>
    </div>
  </div>
</div>
