@import "../../../mixins";

.path {
  padding: 5.625rem 0 1.625rem 1rem;
  font-size: 1rem;

  @include respond(phone) {
    padding: 5.125rem 0 1rem 1rem;
    font-size: 1rem;
  }
}

.container-tarkov {
  margin: 0 2.5rem;

  &__block {
    background-color: var(--backgroundCheckOutBlocks);
    padding: 1.25rem;
    min-height: 21.5rem;
    border-radius: 0.3125rem;

    @include respond(bootstrap-tab-land) {
      padding-left: 0;
      padding-right: 0;
      min-height: auto;
    }
  }

  &__warning {
    color: var(--textWarning);
    margin: 0;
  }

  &__field-warning {
    color: var(--textWarning);
  }

  @include respond(tab-land) {
    margin: 0 1.25rem;
  }
}

h3 {
  font-size: 1.25rem;

  @include respond(tab-land) {
    font-size: 1rem;
  }
}

// forms
.form-group {
  font-size: .8rem;
  margin: 1.75rem .125rem;

  .col-form-label {
    color: var(--textHighLightColor);
    text-align: right;
    font-size: 1.125rem;
  }

  .form-control {
    background-color: var(--backgroundColor);
    border-radius: 0.625rem;
    border-color: var(--borderInputColor);
    color: var(--textInvertColor);
  }
}

/* NG-SELECT */
.ng-select {
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--borderInputColor);
  min-height: 2.25rem;
  background: var(--backgroundColor);

  span {
    vertical-align: sub;
  }

  .ng-select-container {
    .ng-select-value-container {
      padding-left: 0.5rem;
      background: #33363d;

      .ng-arrow-wrapper {
        color: green;
      }
    }
  }
}


// Dropdown panel
::ng-deep .ng-dropdown-panel {
  background: var(--backgroundColor);
  border: #494949 solid 0.0625rem;
  border-radius: 0 0 0.5rem 0.5rem;

  &-items::-webkit-scrollbar {
    background-color: var(--backgroundColor);
  }

  &-items::-webkit-scrollbar-thumb {
    background-color: white;
  }

  .ng-option {
    padding: 0.5rem;
    color: var(--textHighLightColor);
    font-size: 1rem;
    &:hover {
      color: #40c540;
      color: var(--textInvertColor);
    }
    &-marked {
      background: var(--textHighLightColor);
      color: var(--textInvertColor);
    }
  }
}

::ng-deep .ng-input {
  color: white;
  background: transparent;
  border-radius: 0 0 0.5rem 0.5rem;

  input {
    padding: .375rem 1.0625rem;
    font-size: 1rem;
    color: var(--textInvertColor);
    width: 90% !important;
  }
}

::ng-deep .ng-select-container {

  //  input
  .ng-value-container {
    min-height: 2.25rem;

    .ng-value {
      font-size: 1rem;
      color: var(--textInvertColor);

      &-label {
        padding-top: 0.5625rem;
        padding-left: 1.0625rem;
        display: block;
      }
    }
  }
  //  reset input icon
  .ng-clear-wrapper {
    margin-top: 0.5625rem;
    margin-right: 0.25rem;
    .ng-clear {
      color: var(--textInvertColor);
      vertical-align: sub;
      line-height: 1.8;
    }
  }
}

// order items
.order-items {

  &__headers {
    margin-bottom: 2.5rem;

    @include respond(bootstrap-iPad) {
      font-size: 0.75rem;
    }
  }
}

.order-item {

  &_unactive {
    opacity: 0.2;
  }

  &__image-container {
    height: 8.625rem;
    width: 8.625rem;

    @include respond(bootstrap-iPad) {
      height: 100%;
      width: 100%;
    }
  }

  &__product-name {
    color: var(--textInvertColor);
    font-size: 1.6875rem;

    @include respond(bootstrap-iPad) {
      font-size: 0.875rem;
   }
  }

  &__product-options {
    color: var(--textInvertColor);
    font-size: 1.1875rem;

    @include respond(phone) {
      font-size: 0.6875rem;
   }
  }

  &__unit-price {
    color: var(--textInvertColor);
    font-size: 1.0625rem;

    @include respond(phone) {
      font-size: 0.8125rem;
    }
  }

  &__total-price {
    color: var(--textInvertColor);
    font-size: 1.0625rem;

    @include respond(phone) {
      font-size: 0.8125rem;
    }
  }
}

.count {
  display: flex;
  align-items: center;

  &__input {
    background-color: var(--backgroundCheckOutBlocks);
    border: none;
    color: var(--textColor);
    outline: none;
    width: 0.6875rem;
  }

  .icon {
    width: 1.0625rem;
    height: 1.0625rem;

    @include respond(bootstrap-iPad) {
      width: 0.875rem;
      height: 0.875rem;
   }
  }

  .btn-icon {
    border: none;
    background-color: transparent;

    &_next {
    }
  }

  .icon-prev {
    transform: rotate(180deg);
  }

  &__value {
    font-size: 1.0625rem;

    @include respond (bootstrap-iPad) {
      font-size: 1rem;
    }
  }
}

.order-total {
  font-size: 1.6875rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: var(--textInvertColor);

  &__header {
    text-align: end;
    padding-right: 1.25rem;
  }
}

.order-comment {
  border-top: 0.0625rem solid var(--textColor);

  &__button {
    cursor: pointer;
  }
}

// submit button
.tarkov-btn-container {
  position: sticky;
  bottom: 0;
  z-index: 1500;

  @include respond(tab-land) {
    bottom: -1.875rem;
  }
}

.tarkov-btn {
  margin: 1.875rem auto;
  display: inline-block;
  cursor: pointer;
  font-size: 2.18rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--textInvertColor);
  background-color: var(--textColor);
  padding: 1rem 2.5rem;
  border-radius: 0.1875rem;
  border: none;

  @include respond(iPad) {
    font-size: 1.4rem;
    padding: 0.8125rem 2.6875rem;
  }

  @include respond(phone) {
    font-size: 1rem;
    padding: 0.8125rem 1rem;
  }
}

// options block
.options {
  display: flex;
  justify-content: space-between;

  @include respond(bootstrap-iPad) {
    flex-direction: column;
  }

  &__block {

    &-attention {
      color: var(--textWarning);
    }
  }

  &__left {
    width: 49%;
    position: relative;

    @include respond(bootstrap-iPad) {
      width: 100%;
    }
  }

  &__right {
    width: 49%;

    @include respond(bootstrap-iPad) {
      width: 100%;
    }
  }
}


.option {
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--borderInputColor);
  width: 33%;
  background: var(--backgroundColor);
  padding: 0.6875rem;
  cursor: pointer;
  transition: all 0.2s ease;
  min-height: 16.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;

  @media (min-width: 1200px) and (max-width: 1400px) {
    min-height: 10.75rem;
  }

  @include respond(iPad) {
    padding: 0.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @include respond(phone) {
    height: 15.75rem;
  }

  &:hover {
    box-shadow: -0.0625rem 0rem 0.9375rem 0rem var(--optionShadowColor);
  }

  &_active {
    box-shadow: -0.0625rem 0rem 0.9375rem 0rem var(--optionShadowColor);
    transform: scale(1.1);
  }

  &__image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 9rem;

    @media (min-width: 1200px) and (max-width: 1400px) {
      min-height: 5rem;
    }

    @include respond(phone) {
      min-height: 8rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__header {
    color: var(--textInvertColor);
    text-align: center;
    font-size: 1.0625rem;

    @include respond (phone) {
      font-size: 0.75rem;
    }
  }

  &__price {
    color: var(--textInvertColor);
    text-align: center;
    font-size: 1.0625rem;
    margin: 0;

    @include respond (phone) {
      font-size: 0.75rem;
    }
  }
}


.overlay {
  position: absolute;
  top: -0.0625rem;
  bottom: -0.0625rem;
  left: -0.0625rem;
  right: -0.0625rem;
  z-index: 1000;
  background-color: rgb(0,0,0);
  opacity: 0.5;

  &__transparent {
    opacity: 0;
  }

  &_card {
    border-radius: 0.625rem;
  }
}
