<!-- input email -->
<div class="subscribe">
  <div class="container-tarkov">
    <div class="row">
      <div class="col-md-5">
        <!-- text -->
        <div class="label">
          <span class="text">Get the latest intel</span>
          <span class="sub-text">Sign up for updates from Grey Shop</span>
        </div>
      </div>
      <div class="col-md-7">
        <!-- input -->
        <div class="email">
          <input type="email" placeholder="Your E-mail address">
          <button>Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row pt-5">
      <div class="col-md-5">
        <h6>Making Motherland Great Again since 2014 year</h6>
        <ul class="footer-list">
          <li class="footer-list-item">
            <svg class="footer-icon contact">-->
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Mess"></use>
            </svg>
            <span class="footer-list-item__text">Moscow, Shosseynyy proezd 6 str 7</span>
          </li>
          <li class="footer-list-item">
            <svg class="footer-icon contact">-->
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Phone"></use>
            </svg>
            <span class="footer-list-item__text">+7 (495) 646-96-73</span>
          </li>
          <li class="footer-list-item">
            <svg class="footer-icon contact">-->
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
            </svg>
            <span class="footer-list-item__text">sale@grey-line.com</span>
          </li>
        </ul>
        <div class="footer-list icon-list">
          <a class="icon-list-item" href="https://www.facebook.com/escapefromtarkov" target="_blank">
            <svg class="footer-icon">
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Facebook"></use>
            </svg>
          </a>
          <a class="icon-list-item" href="https://vk.com/escapefromtarkov" target="_blank">
            <svg class="footer-icon">
              <use xlink:href="../../../assets/icons/sprite.svg#icon-VK"></use>
            </svg>
          </a>
          <a class="icon-list-item" href="https://www.instagram.com/escapefromtarkovofficial/" target="_blank">
            <svg class="footer-icon">
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Inst"></use>
            </svg>
          </a>
          <a class="icon-list-item" href="https://www.youtube.com/channel/UC5QGploHhl9_XaxDiHZKamg" target="_blank">
            <svg class="footer-icon">
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Youtube"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-md-6 pt-5 pt-md-0">
        <div class="row">
          <div class="col-6 pt-5 pt-md-0">
            <h5>Information</h5>
            <ul class="footer-list">
              <!-- <li class="footer-list-item"><span class="footer-list-item__text">Contact us</span></li>
              <li class="footer-list-item"><span class="footer-list-item__text">Payment Methods</span></li>
              <li class="footer-list-item"><span class="footer-list-item__text">Russian Sizes</span></li>
              <li class="footer-list-item"><span class="footer-list-item__text">Public offer</span></li>
              <li class="footer-list-item"><span class="footer-list-item__text">Delivery Types</span></li>
              <li class="footer-list-item"><span class="footer-list-item__text">Privacy Policy</span></li>
              <li class="footer-list-item"><span class="footer-list-item__text">Press about us</span></li> -->
    
              <li class="footer-list-item">
                <span class="footer-list-item__text" routerLink="/delivery-types">
                  <span *ngIf="languageString === 'RU'">Доставка</span>
                  <span *ngIf="languageString === 'EN'">Delivery</span>
                </span>
              </li>
              <li class="footer-list-item">
                <span class="footer-list-item__text" routerLink="/privacy">
                  <span *ngIf="languageString === 'RU'">Политика конфиденциальности</span>
                  <span *ngIf="languageString === 'EN'">Privacy Policy</span>
              </span>
              </li>
              <!-- <li class="footer-list-item"><span class="footer-list-item__text">Оффициальный магазин EFT</span></li> -->
              <li class="footer-list-item">
                <span class="footer-list-item__text" routerLink="/offer">
                  <span *ngIf="languageString === 'RU'">Публичная офферта</span>
                  <span *ngIf="languageString === 'EN'">Public offer</span>
              </span>
              </li>
            </ul>
          </div>
          <div class="col-6 py-5 pt-md-0">
            <h5>Extras</h5>
            <ul class="footer-list">
              <li class="footer-list-item"><span class="footer-list-item__text">Brands</span></li>
              <li class="footer-list-item"><span class="footer-list-item__text">Specials</span></li>
              <li class="footer-list-item"><span class="footer-list-item__text">Russian Sizes</span></li>
              <li class="footer-list-item"><span class="footer-list-item__text">Returns</span></li>
              <li class="footer-list-item"><span class="footer-list-item__text">Site Map</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showPayment" class="show-payment">
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</footer>