@import "../../../mixins";

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--getTheLatestIntel);
  color: var(--textColor);
  padding: 3rem;

  @include respond(tab-port) {
    padding: 3rem 1rem;
  }

  @include respond(phone) {
    padding: 0;
  }

  .container-tarkov {
    margin: 0 2.5rem 0 2.5rem;

    @include respond(tab-land) {
      margin: 0 1.25rem 0 1.25rem;
    }

    @include respond(phone) {
      margin: 2.875rem 1rem 2.875rem 1rem;
    }
  }

  .label {
    text-align: center;

    @include respond(tab-land) {
      text-align: left;
    }

    @include respond(iPad) {
      text-align: center;
    }

    @include respond(phone) {
      text-align: center;
      margin-bottom: 2.25rem;
    }

    .text {
      display: block;
      font-size: 2rem;
      font-weight: 500;
      color: var(--textInvertColor);

      @include respond(tab-land) {
        font-size: 1.5rem;
      }
    }

    .sub-text {
      opacity: 0.3;
      font-size: 1rem;
      color: var(--textInvertColor);

      @include respond(tab-land) {
        font-size: 0.75rem;
      }
    }
  }

  .email {
    display: flex;
    margin-left: 5rem;
    justify-content: center;


    @include respond(tab-land) {
      margin-left: 0;
    }

    @include respond(iPad) {
      margin-top: 2.25rem
    }

    @include respond(phone) {
      margin-top: 0;
      flex-direction: column;
    }

    input {
      width: 34.5rem;
      height: 4.8rem;
      border-radius: .4375rem 0 0 .7rem;
      border: solid 0.0625rem #f4f4f4;
      background-color: #ffffff;
      padding: 1.7rem 0 1.7rem 3rem;

      @include respond(tab-land) {
        height: 3.45rem;
        width: 19.5rem;
        padding: 1rem 0 .7rem 1rem;
      }

      @include respond(iPad) {
        width: 17.5rem;
      }

      @include respond(phone) {
        border-radius: .4375rem;
        width: 100%;
        margin-bottom: 1.25rem;
      }
    }

    button {
      color: white;
      padding: 1.5rem 5rem;
      border: none;
      border-radius: 0 .4375rem .4375rem 0;
      background-color: var(--backgroundButtonColor);
      outline: none;

      @include respond(tab-land) {
        padding: 1rem 1rem;
      }

      @include respond(phone) {
        border-radius: .4375rem;
        width: 100%;
      }

    }
  }
}

.footer {
  height: 24.375rem;
  background-color: var(--backgroundColor);
  font-size: 1.1875rem;
  color: var(--textDescriptionColor);

  @include respond(bootstrap-iPad) {
    height: auto;
  }

  @include respond(phone) {
    font-size: 0.875rem;
  }

  @include respond(mini-phone) {
    font-size: 1.1875rem;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.0625rem;

    &-item {
      display: flex;
      cursor: pointer;

     &__text {
       opacity: .6;
       transition: .3s ease;

       &:hover {
         color: var(--textHighLightColor);
       }
     }

      &:first-child {
        margin-top: 2rem;
      }

      margin-top: 1rem;
    }
  }

  .icon-list {
    display: flex;
    margin-top: 2rem;

    &-item {
      padding: 0 0.8125rem;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        .footer-icon {
          fill: var(--textHighLightColor);
        }
      }
    }
  }

  &-icon {
    height: 1.3125rem;
    width: 1.3125rem;
    fill: var(--textColor);
  }

  .contact {
    margin-right: 1.8rem;

    @include respond(tab-port) {
      margin-right: 1.1875rem;
    }
  }
}
.show-payment {
  margin-top: 62.5rem;
}
