/* :host {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid var(--textColor);
  border-radius: .5rem;
  box-shadow: 0 0 8rem rgba(65,61,52,1), 0 0 .6rem rgba(232,190,107,0.8);
}
 */
