@import "../../../mixins";

.path {
    padding: 5.625rem 0 1.625rem 1rem;
    font-size: 1rem;
}

.container-tarkov {
    margin: 0 2.5rem;

    @include respond(tab-land) {
      margin: 0 1.25rem;
    }
  
    @include respond(iPad) {
      margin: 0 1rem;
    }
}

.document {
    width: 80%;
    margin: auto;

    @include respond(bootstrap-iPad) {
      width: 100%;
  }
}