<div class="path">
    <span>{{localizations|locale_keyword:'home'}} / 
        <span *ngIf="languageString === 'RU'">Политика конфиденциальности</span>
        <span *ngIf="languageString === 'EN'">Privacy Policy</span>
    </span>
</div>
<div class="container-tarkov">
    <div class="document" *ngIf="languageString === 'RU'">
        <h1>Политика конфиденциальности</h1>
        <p>Дата размещения на Сайте 26 мая 2015 г.</p>
        <p>Редакция от 1 июля 2017 г.</p>
        <p>Настоящая Политика конфиденциальности регулирует порядок обработки и использования персональных и иных данных ООО "Грей Шоп" (далее — Оператор).</p>
        <p>Передавая Оператору персональные и иные данные посредством Сайта, Пользователь подтверждает свое согласие на использование указанных данных на условиях, изложенных в настоящей Политике конфиденциальности.</p>
        <p>Если Пользователь не согласен с условиями настоящей Политики конфиденциальности, он обязан прекратить использование Сайта.</p>
        <p>Безусловным акцептом настоящей Политики конфиденциальности является начало использования Сайта Пользователем.</p>

        <h2>1. ТЕРМИНЫ</h2>
        <p>1.1. Сайт - сайт, расположенный в сети Интернет. <br>
            Все исключительные права на Сайт и его отдельные элементы (включая программное обеспечение, дизайн) принадлежат Оператору в полном объеме. Передача исключительных прав Пользователю не является предметом настоящей Политики конфиденциальности.</p>
        <p>1.2. Пользователь — лицо использующее Сайт.</p>
        <p>1.3. Законодательство — действующее законодательство Российской Федерации.</p>
        <p>1.4. Персональные данные — персональные данные Пользователя, которые Пользователь предоставляет о себе самостоятельно при Регистрации или в процессе использования функционала Сайта.</p>
        <p>1.5. Данные — иные данные о Пользователе (не входящие в понятие Персональных данных).</p>
        <p>1.6. Регистрация — заполнение Пользователем Регистрационной формы, расположенной на Сайте, путем указания необходимых сведений и выбора Логина и пароля.</p>
        <p>1.7. Регистрационная форма — форма, расположенная на Сайте, которую Пользователь должен заполнить для прохождения Регистрации на Сайте.</p>
        <p>1.8. Услуга(и) — услуги, предоставляемые Оператором на основании Лицензионного соглашения.</p>

        <h2>2. СБОР И ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
        <p>2.1. Оператор собирает и хранит только те Персональные данные, которые необходимы для оказания Услуг Оператором и взаимодействия с Пользователем.</p>
        <p>2.2. Персональные данные могут использоваться в следующих целях:</p>
        <p>2.2.1 оказание Услуг Пользователю;</p>
        <p>2.2.2 идентификация Пользователя;</p>
        <p>2.2.3 взаимодействие с Пользователем;</p>
        <p>2.2.4 направление Пользователю рекламных материалов, информации и запросов;</p>
        <p>2.2.5 проведение статистических и иных исследований;</p>
        <p>2.2.6 обработка платежей Пользователя;</p>
        <p>2.2.7 мониторинг операций Пользователя в целях предотвращения мошенничества, противоправных ставок, отмывания денег.</p>
        <p>2.3. Оператор в том числе обрабатывает следующие данные:</p>
        <p>2.3.1 фамилия, имя и отчество;</p>
        <p>2.3.2 адрес электронной почты;</p>
        <p>2.3.3 номер мобильного телефона.</p>
        <p>2.4. Пользователю запрещается указывать на Сайте персональные данные третьих лиц.</p>

        <h2>3. ПОРЯДОК ОБРАБОТКИ ПЕРСОНАЛЬНЫХ И ИНЫХ ДАННЫХ</h2>
        <p>3.1. Оператор обязуется использовать Персональные данные в соответствии с Федеральным Законом «О персональных данных» № 152-ФЗ от 27 июля 2006 г. и внутренними документами Оператора.</p>
        <p>3.2. В отношении Персональных данных и иных Данных Пользователя сохраняется их конфиденциальность, кроме случаев, когда указанные данные являются общедоступными.</p>
        <p>3.3. Оператор имеет право сохранять архивную копию Персональных данных и Данных, в том числе после удаления аккаунта Пользователя.</p>
        <p>Оператор имеет право хранить Персональные данные и Данные на серверах вне территории Российской Федерации.</p>
        <p>3.4. Оператор имеет право передавать Персональные данные и Данные Пользователя без согласия Пользователя следующим лицам:</p>
        <p>3.4.1 государственным органам, в том числе органам дознания и следствия, и органам местного самоуправления по их мотивированному запросу;</p>
        <p>3.4.2 партнерам Оператора;</p>
        <p>3.4.3 в иных случаях, прямо предусмотренных действующим законодательством РФ.</p>
        <p>3.5. Оператор имеет право передавать Персональные данные и Данные третьим лицам, не указанным в п. 3.4. настоящей Политики конфиденциальности, в следующих случаях:</p>
        <p>3.5.1 Пользователь выразил свое согласие на такие действия;</p>
        <p>3.5.2 передача необходима в рамках использования Пользователем Сайта или оказания Услуг Пользователю;</p>
        <p>3.5.3 передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики.</p>
        <p>3.6. Оператор осуществляет автоматизированную обработку Персональных данных и Данных.</p>

        <h2>4. ИЗМЕНЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
        <p>4.1. Пользователь может в любой момент изменить (обновить, дополнить) Персональные данные посредством Личного кабинета либо путем направления письменного заявления Оператору.</p>
        <p>4.2. Пользователь в любой момент имеет право удалить Персональные данные.</p>
        <p>4.3. Пользователь гарантирует, что все Персональные данные являются актуальными и не относятся к третьим лицам.</p>

        <h2>5. ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
        <p>5.1. Оператор осуществляет надлежащую защиту Персональных и иных данных в соответствии с Законодательством и принимает необходимые и достаточные организационные и технические меры для защиты Персональных данных.</p>
        <p>5.2. Применяемые меры защиты в том числе позволяют защитить Персональные данные от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ними третьих лиц.</p>

        <h2>6. ПЕРСОНАЛЬНЫЕ ДАННЫЕ ТРЕТЬХ ЛИЦ ИСПОЛЬЗУЕМЫЕ ПОЛЬЗОВАТЕЛЯМИ</h2>
        <p>6.1. Используя Сайт Пользователь имеет право заносить данные третьих лиц для последующего использования.</p>
        <p>6.2. Пользователь обязуется получить согласие субъекта персональных данных на использование посредством Сайта.</p>
        <p>6.3. Оператор не использует персональные данные третьих лиц занесенные Пользователем.</p>
        <p>6.4. Оператор обязуется предпринять необходимые меры для обеспечения сохранности персональных данных третьих лиц, занесенных Пользователем.</p>

        <h2>7. ИНЫЕ ПОЛОЖЕНИЯ</h2>
        <p>7.1. К настоящей Политике конфиденциальности и отношениям между Пользователем и Оператором, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.</p>
        <p>7.2. Все возможные споры, вытекающие из настоящего Соглашения, подлежат разрешению в соответствии с действующим законодательством по месту регистрации Оператора.</p>
        <p>Перед обращением в суд Пользователь должен соблюсти обязательный досудебный порядок и направить Оператору соответствующую претензию в письменном виде. Срок ответа на претензию составляет 30 (тридцать) рабочих дней.</p>
        <p>7.3. Если по тем или иным причинам одно или несколько положений Политики конфиденциальности будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Политики конфиденциальности.</p>
        <p>7.4. Оператор имеет право в любой момент изменять Политику конфиденциальности (полностью или в части) в одностороннем порядке без предварительного согласования с Пользователем. Все изменения вступают в силу на следующий день после размещения на Сайте.</p>
        <p>7.5. Пользователь обязуется самостоятельно следить за изменениями Политики конфиденциальности путем ознакомления с актуальной редакцией.</p>

        <h2>8. КОНТАКТНАЯ ИНФОРМАЦИЯ ОПЕРАТОРА</h2>
        <p>8.1. Телефон: <b>+7 (495) 646-9673</b></p>
        <p>8.2. E-mail: sale@grey-line.com</p>
        <p>8.3. Адрес: Москва, Волгоградский проезд, д. 42 к. 42A</p>
    </div>
    <div class="document" *ngIf="languageString === 'EN'">
        <h1>Privacy Policy</h1>

        <p>1.1. The User gives the permission for personal data collecting, processing and storage to the Grey-Shop LLC</p>
        <p>1.2. What kind of data do we collect, process and keep?</p>
        <p>For the correct functioning of our Internet- store, we save such kind of data, as : <br>* User IP-Address <br> * Country <br> * Data about OS and browser</p>
        <p>For the correct delivery functioning, we save next types of registered user's data: <br>* User IP Address <br>* Country <br>* Data about OS and browser <br>* Name and surname <br>* Mobile Phone Number <br> * Postal address<br>* E-mail address</p>
        <p>1.3. All personal data is used by us ONLY for successful realization of delivery to customer .</p>
        <p>1.4. To obtain local legislation, all data is contained at 3 servers: <br>* Austin, TX, USA for US users <br> * Frankfurt, Germany for European Union and Great Britain users <br> * Moscow, Russian Federation for all other users.<br></p>
        <p>1.5. User identification technology, based on cookies files usage, is used at our web-site. Сookies – it is small volume files, which are saved by browser at user`s computer local storage. Computer or device, which is used for access to the site, may save such kind of files, which will be used in future for auto log-in and statistic data collection, which will tell about site visiting frequency. Web-site administration doesn`t save personal data or passwords in cookies files. The User can prohibit saving cookies files at local storage of his computer, which is used for access to the site by adjusting internet-browser. But It is important to take into account, that all services, which use this technology, may be not available.</p>
        <p>1.6. All User's personal data are not sent to thord persons, excluding cases, which are provided for Russian or local law and only for written request of Court.</p>
        <p>1.7. All User's personal data is deleted automatically after the end of 3 year term.</p>
        <p>1.8. User have right to delete all confidentinal or secret data about him\herself on written request to our e-mail.</p>
    </div >
</div>
