@import "../../mixins";

.path {
  padding: 1.625rem 1rem;
  font-size: 1rem;

  @include respond(iPad) {
    padding-top: 3rem;
  }
}

.container-tarkov {
  margin: 0 8rem 0 8rem;

  @include respond(tab-land) {
    margin: 0 4rem 0 4rem;
  }

  @include respond(iPad) {
    margin: 0 3.5rem 0 3.5rem;
  }
}
.image {
  height: 21.875rem;
  background-color: var(--textDescriptionColor);
  background: url("../../assets/img/image_2019-09-06_17-00-51.png");
  background-position: center;
  background-size: cover;
}

.small-box {
  font-size: 1.25rem;
  width: 100%;
  height: 5rem;
  opacity: 0.23;
  border-radius: 0.4375rem;
  background-color: #6b6b6b;
  margin-bottom: 1rem;
  color: white;
}

.large-box {
  font-size: 1.25rem;
  width: 100%;
  height: 17.18rem;
  opacity: 0.23;
  border-radius: 0.4375rem;
  background-color: #6b6b6b;
  color: white;
}

.general-main-container {
  padding-top: 4rem;
}

.image-collapse {
  position: relative;
}

.arrow {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //width: 2.5rem;
  //height: 2.5rem;
  //background-color: var(--textColor);
  //border-radius: 50%;
  //cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--textColor);
  border-radius: 50%;
  cursor: pointer;

  .icon-arr {
    fill: var(--arrowIconColor);
    height: 1rem;
    width: 1rem;

  }
}

.paypal-preloader {
  max-height: 0.0625rem;
  max-width: 0.0625rem;
  opacity: 1%;
}
