<main class="general-main-container">
  <div class="image-collapse">
    <!-- image -->
    <div class="image img-fluid d-flex justify-content-center align-items-center" @fadeInOut *ngIf="showImage">
      <!-- <div class="row">
        <div class="col-3">
          <div class="small-box d-flex justify-content-center align-items-center">Filter</div>
          <div class="small-box d-flex justify-content-center align-items-center">About</div>
          <div class="small-box d-flex justify-content-center align-items-center">Do it</div>
        </div>
        <div class="col-9">
          <div class="large-box">
            <div class="row align-items-center">
              <div class="col-3">
                <span>Color</span>
              </div>
              <div class="col-3">
                <span>Price</span>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <!-- arrow button -->
    <div class="arrow" (click)="invertShowImage()" [@arrowUpDown]="showImage ? 'up' : 'down'">
      <svg class="icon icon-arr">
        <use xlink:href="../../../assets/icons/sprite.svg#icon-Next_2"></use>
      </svg>
    </div>
  </div>
  <!-- path navigation -->
  <div class="path">
    <span>Home</span>
  </div>
  <!-- list of cards -->
  <div class="container-tarkov">
    <app-list-products></app-list-products>
  </div>

</main>
