@import "../../../mixins";

.item {
  // border-bottom: 0.0625rem solid var(--textColor);
  margin-bottom: 0.875rem;
  padding: 0;

  &__hidden {
    opacity: 0.5;
  }
}

.img {
  width: 10%;
}

.description {
  display: flex;
  flex-direction: column;
  width: 35%;

  .title {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--textDescriptionColor);

    @include respond(phone) {
      font-size: 1rem;
    }
  }

  .subtitle {
    font-size: 0.75rem;
    color: var(--textBrandColor);
    display: flex;
    align-items: center;

    &__color-img {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 10rem;
      margin-right: 0.3125rem;

      &_border {
        border: 1px solid var(--borderDeleteProductButton);
      }
    }
  }
}

.count {
  display: flex;
  align-items: center;
  width: 10%;

  &__input {
    background-color: var(--backgroundColor);
    border: none;
    color: var(--textDescriptionColor);
    outline: none;
    font-size: 1.125rem;
  }


  .btn-icon {
    border: none;
    background-color: transparent;
    color: var(--textBrandColor);
    font-size: 1.125rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:hover {
      border: 0.0625rem solid var(--borderDeleteProductButton);
      border-radius: 0.625rem;
    }
  }

  .icon-prev {
    transform: rotate(180deg);
  }
}

.text--price {
  font-size: 1.25rem;
  color: var(--textColor);
  width: 10%;
}

// контейнер кнопки удаления
.delete-container {
  width: 5%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--textBrandColor);

  &:hover {
    border: 0.0625rem solid var(--borderDeleteProductButton);
    border-radius: 0.9375rem;
  }
}
