<!-- Cart item -->
<div class="item d-flex justify-content-between align-items-center" [ngClass]="{item__hidden: cartItem.orderCount < 1}">
  <!-- Image -->
  <img class="img" [src]="cartItem.product?.imageFront?.url ? imagePath + cartItem.product.imageFront.url + '.jpg' : imagePath + 'none.jpg'">
  <!-- description -->
  <div class="description">
    <!-- title -->
    <span class="title" (click)="openProduct()">{{cartItem.product?.localizedDescriptions ? (cartItem.product.localizedDescriptions|localization).name : 'нет имени'}}</span>
    <!-- subtitle -->
    <!-- <span class="subtitle">{{cartItem.product?.brand.localizedDescriptions ? (cartItem.product.brand.localizedDescriptions|localization).title : 'нет бренда'}}</span> -->
    <!-- options -->
    <div *ngFor="let option of cartItem.optionValues">
      <span class="subtitle" *ngIf="option.optionTypeID === 1">
        <!-- <span *ngIf="languageString === 'EN'">color: </span>
        <span *ngIf="languageString === 'RU'">цвет: </span> -->
        <img class="subtitle__color-img" [class.subtitle__color-img_border]="option.localizedDescriptions[0].name === 'Black'" *ngIf="option.image.url !== 'none'" [src]="option?.image?.url ? optionsImagePath + '/' + option.image.type.path + '/' + option.image.url + '.jpg' : optionsImagePath + '/' + option.image.type.path + '/' + 'none.jpg'" alt="">
        {{option?.localizedDescriptions ? (option.localizedDescriptions|localization).name : 'no color'}}
      </span>
      <span class="subtitle" *ngIf="option.optionTypeID === 2">
        <!-- <span *ngIf="languageString === 'EN'">size: </span>
        <span *ngIf="languageString === 'RU'">размер: </span> -->
        <span >{{option?.sizeType ? option[option.sizeType] : 'no size'}}</span>
      </span>
    </div>
  </div>
  <!-- quantity -->
  <div class="count">
    <!-- button remove -->
    <button class="btn-icon" (click)="decCartItem()">
      <!-- <svg class="icon icon-prev">
        <use xlink:href="../../../assets/icons/sprite.svg#icon-Next_1"></use>
      </svg> -->
      <
    </button>
    <!-- value -->
    <!-- <span>{{cartItem.orderCount}}</span> -->
    <input class="count__input" type="text" (keydown)="checkOnSymbols($event)" (keyup)="changeAmountOfProduct()" appAutowidth [(ngModel)]="cartItem.orderCount" #productCountInput>
    <!-- button add -->
    <button class="btn-icon" (click)="incCartItem()">
      <!-- <svg class="icon icon-next">
        <use xlink:href="../../../assets/icons/sprite.svg#icon-Next_1"></use>
      </svg> -->
      >
    </button>
  </div>
  <!-- price -->
  <span class="text--price">{{cartItem.product.price.sell|currency|money}}</span>
  <!-- delete -->
  <!-- <span (click)="removeCartItem()">☓</span> -->
  <div class="delete-container" (click)="removeCartItem()">
    x
    <!-- <svg class="icon">
      <use xlink:href="../../../../assets/icons/sprite.svg#icon-cross"></use>
    </svg> -->
  </div>
</div>
