@import "../../../mixins";

.tarkov-container {
  padding-top: 4rem;
}

.image-collapse {
  position: relative;
  width: 100%;

  &__container {
    height: 18.3vw;

    @include respond(iPad) {
      height: 8.75rem;
    } 
  }

  .category-img {
    width: 100%;
    height: 100%;

    @include respond(iPad) {
      object-fit: cover;
    } 
  }

  .arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--textColor);
    border-radius: 50%;
    cursor: pointer;

    .icon-arr {
      fill: var(--arrowIconColor);
      height: 1rem;
      width: 1rem;
    }
  }
}

.path {
  padding: 1.625rem 1rem;
  font-size: 1rem;

  @include respond(iPad) {
    padding-top: 3rem;
  }
}

.container-tarkov {
  margin: 0 8rem 0 8rem;

  @include respond(tab-land) {
    margin: 0 4rem 0 4rem;
  }

  @include respond(iPad) {
    margin: 0 3.5rem 0 3.5rem;
  }
}

.card-mb {
  margin-bottom: 2.125rem;
  padding-right: 2.375rem;
  padding-left: 2.375rem;

  @include respond(phone) {
    margin-bottom: 1rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

// две колонки продутов на маленьких разрешениях экрана
@media (min-width: 500px) and (max-width: 991px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

// Settings of related products Carousel
::ng-deep .swiper.s-wrapper {
  height: 31.4375rem  !important;

  @include respond(phone) {
    height: 26.4375rem;
  }
}

::ng-deep .swiper.s-wrapper .swiper-wrapper .swiper-slide {
  overflow: visible !important;
  width: 18rem !important;
  margin-top: 0.125rem !important;


  @include respond(phone) {
    width: 13rem !important;
  }

  &:first-child {
    margin-left: 5.375rem;
  }

  &:last-child {
    margin-right: 7rem;
  }
}

::ng-deep .swiper-button-next, ::ng-deep .swiper-button-prev {
  top: 1.25rem !important;
  height: 100% !important;
  outline: none;
  width: 4.875rem !important;
  background-color: rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: rgba(37, 31, 15, 0.4);
  }

  @include respond(bootstrap-iPad) {
    display: none;
  }
}

// next arrow
::ng-deep .swiper-button-next {
  right: 0 !important;
}

// prev arrow
::ng-deep .swiper-button-prev {
  left: 0 !important;
}

