<!--<img [src]="category?.imageBackground?.url ? imagePath + category.imageBackground.url + '.jpg' : imagePath + 'none.jpg'"-->
<!--[alt]="category?.imageBackground?.name ? category.imageBackground.name : 'none'">-->
<!--  Если данные прилетели  -->
<ng-container *ngIf="products != null; else withoutData">
  <!--  Если есть связанные продукты  -->
  <ng-container *ngIf="relatedProducts; else withoutRelatedProducts">
    <div>
      <swiper [config]="config" [(index)]="index">
        <div *ngFor="let product of products">
          <app-releted-product-card [product]="product"></app-releted-product-card>
        </div>
      </swiper>
    </div>
  </ng-container>
  <!--  Если нет связанных продуктов  -->
  <ng-template #withoutRelatedProducts>
    <div class="tarkov-container">
      <div class="image-collapse" *ngIf="tempUrl !== '/'">
        <!-- image -->
        <div class="image-collapse__container" [@fadeInOut]="showCategoryPicture ? 'up' : 'down'">
          <img
          class="category-img"
          [src]="category?.imageBackground?.url ? imagePath + category.imageBackground.url + '.jpg' : imagePath + 'none.jpg'"
          [alt]="category?.imageBackground?.name ? category.imageBackground.name : 'none'"
          >
        </div>
        <!-- arrow button -->
        <div class="arrow" (click)="invertShowImage()" [@arrowUpDown]="showCategoryPicture ? 'up' : 'down'">
          <svg class="icon icon-arr">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Next_2"></use>
          </svg>
        </div>
      </div>
      <!-- path navigation -->
      <div class="path" *ngIf="tempUrl !== '/'">
        <span>{{localizations|locale_keyword:'home'}} /  {{category?.localizedDescriptions  ? (category.localizedDescriptions | localization).name : "none"}}</span>
      </div>
      <div [ngClass]="tempUrl !== '/' ? 'container-tarkov' : ''">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 card-mb" *ngFor="let product of products">
            <app-product-card [product]="product"></app-product-card>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
<!--  Если данные не прилетели  -->
<ng-template #withoutData>
  <app-spinner></app-spinner>
</ng-template>
