@import "../../../mixins";
// кнопка перехода к модальному окну оплаты
.tarkov-btn {
    margin: 1.875rem auto;
    display: inline-block;
    cursor: pointer;
    font-size: 2.18rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--textInvertColor);
    background-color: var(--textColor);
    padding: 1rem 2.5rem;
    border-radius: 0.1875rem;
    border: none;
  
    @include respond(iPad) {
      font-size: 1.4rem;
      padding: 0.8125rem 2.6875rem;
    }
  
    @include respond(phone) {
      font-size: 1rem;
      padding: 0.8125rem 1rem;
    }
  }

// Модальное окно оплаты
.payment-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: var(--overflowBackground);
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__body {
      width: 42%;
      z-index: 10000;
      background: var(--backgroundLabelColor);
  
      @include respond(tab-port) {
        width: 100%;
      }
    }
  }
  