<div class="path">
    <span>{{localizations|locale_keyword:'home'}} / 
        <span *ngIf="languageString === 'RU'">Публичная оферта</span>
        <span *ngIf="languageString === 'EN'">Public offer</span>
    </span>
</div>
<div class="container-tarkov">
    <div class="document" *ngIf="languageString === 'RU'">
        <h1>ПУБЛИЧНАЯ ОФЕРТА</h1>
        <p>Интернет-магазин «Tarkov-shop.com», расположенный на доменном имени (tarkov-shop.com), ООО Грей ШОП ( Юридический адрес и фактический адрес - Волгоградский проспект д 42 к 42а, ИНН/КПП организации - 7723450808/772301001 в лице генерального директора Макарова Сергея Сергеевича именуемое в дальнейшем «Продавец», публикует Публичную оферту о продаже Товара дистанционным способом.</p>

        <h2>1.   ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h2>
        <p>1.1.   Публичная оферта (далее – «Оферта») - публичное предложение Продавца, адресованное неопределенному кругу лиц, заключить с Продавцом договор купли-продажи товара дистанционным способом (далее - «Договор») на условиях, содержащихся в настоящей Оферте, включая все Приложения.</p>
        <p>1.2.   Заказ Товара на сайте Интернет-магазина – позиции указанные Покупателем из ассортимента Товара, предложенного к продаже, при оформлении заявки на приобретение Товара на сайте Интернет-магазина или через Оператора.</p>
        
        <h2>2. ОБЩИЕ ПОЛОЖЕНИЯ</h2>
        <p>2.1. Заказ Покупателем Товара, размещенного на сайте Интернет-магазина означает, что Покупатель согласен со всеми условиями настоящей Оферты.</p>
        <p>2.2. Администрация сайта Интернет-магазина имеет право вносить изменения в Оферту без уведомления Покупателя.</p>
        <p>2.3. Срок действия Оферты не ограничен, если иное не указано на сайте Интернет-магазина.</p>
        <p>2.4. Продавец предоставляет Покупателю полную и достоверную информацию о Товаре, включая информацию об основных потребительских свойствах Товара, месте изготовления.</p>
        <p>2.5. Товары, представленные на сайте предназначены только для спортивных состязаний, а также для туризма.</p>
        <p>2.6. Продавец не несет ответственности, за использование товаров не по назначению, указанному в п. 2.5 данного договора.</p>
        <p>2.7. Договор составлен на двух языках: русском и английском. Оба договора имеют одинаковую юридическую силу.</p>
        
        <h2>3. ЦЕНА ТОВАРА</h2>
        <p>3.1. Цена на каждую позицию Товара указана на сайте Интернет-магазина.</p>
        <p>3.2. Продавец имеет право в одностороннем порядке изменить цену на любую позицию Товара.</p>
        <p>3.3. В случае изменения цены на заказанный Товар Продавец обязуется в 7 дней проинформировать Покупателя об изменении цены Товара.</p>
        <p>3.4. Покупатель вправе подтвердить либо аннулировать Заказ на приобретение Товара, если цена изменена Продавцом после оформления Заказа.</p>
        <p>3.5. Изменение Продавцом цены на оплаченный Покупателем Товар не допускается.</p>
        <p>3.6. Продавец указывает стоимость доставки Товара на сайте Интернет-магазина. Цена может изменяться, в случае, если покупатель дополняет свой заказ. В таком случае, он обязуется оплатить разницу в стоимости.</p>
        <p>3.7. Обязательства Покупателя по оплате Товара считаются исполненными с момента поступления Продавцом денежных средств.</p>
        <p>3.8. Расчеты между Продавцом и Покупателем за Товар производятся способами, указанными на сайте Интернет-магазина в оплата, при оформлении товара.</p>
        <p>3.9. В случае приобретения товаров за иностранную валюту, курс конвертации расчитывается по курсу ЦБ на день совершения платежа.</p>

        <h2>4. ОФОРМЛЕНИЕ ЗАКАЗА</h2>
        <p>4.1. Заказ Товара осуществляется Покупателем через сайт tarkov-shop.com</p>
        <p>4.2. При регистрации на сайте Интернет-магазина Покупатель обязуется предоставить следующую регистрационную информацию:</p>
        <p>4.2.1. фамилия, имя, отчество Покупателя или указанного им лица (получателя);</p>
        <p>4.2.2.  адрес, по которому следует доставить Товар (если доставка до адреса Покупателя);</p>
        <p>4.2.3. адрес электронной почты;</p>
        <p>4.2.4. контактный телефон.</p>
        <p>4.3. Наименование, количество, ассортимент, артикул, цена выбранного Покупателем Товара указываются в корзине Покупателя на сайте Интернет-магазина.</p>
        <p>4.4. Если Продавцу необходима дополнительная информация, он вправе запросить ее у Покупателя. В случае не предоставления необходимой информации Покупателем, Продавец не несет ответственности за выбранный Покупателем Товар.</p>
        <p>4.5. При оформлении Заказа через Оператора (п. 4.1. настоящей Оферты) Покупатель обязуется предоставить информацию, указанную в п. 4.2. настоящей Оферты.</p>
        <p>4.6. Принятие Покупателем условий настоящей Оферты осуществляется посредством внесения Покупателем соответствующих данных в регистрационную форму на сайте Интернет-магазина или при оформлении Заказа через Оператора. После оформления Заказа через Оператора данные о Покупателе регистрируются в базе данных Продавца. Утвердив Заказ выбранного Товара, Покупатель предоставляет Оператору необходимую информацию в соответствии с порядком, указанном в п. 4.2. настоящей Оферты.</p>
        <p>4.7. Продавец не несет ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении Заказа.</p>
        <p>4.8. Покупатель несет ответственность за достоверность предоставленной информации при оформлении Заказа.</p>
        <p>4.9. Договор купли-продажи дистанционным способом между Продавцом и Покупателем считается заключенным с момента выдачи Продавцом Покупателю чека, подтверждающего оплату Товара.</p>

        <h2>5.  ДОСТАВКА И ПЕРЕДАЧА ТОВАРА ПОКУПАТЕЛЮ</h2>
        <p>5.1. Продавец оказывает Покупателю услуги по доставке Товара одним из способов указанных на сайте Интернет-магазина.</p>
        <p>5.2. Если Договор купли-продажи товара дистанционным способом (далее – Договор) заключен с условием о доставке Товара Покупателю, Продавец обязан в установленный Договором срок доставить Товар в место, указанное Покупателем, а если место доставки Товара Покупателем не указано, то по месту его жительства или регистрации.</p>
        <p>5.3. Место доставки Товара Покупатель указывает при оформлении Заказа на приобретение Товара.</p>
        <p>5.4. Срок доставки Товара Покупателю состоит из срока обработки заказа и срока доставки.</p>
        <p>5.5. Срок обработки заказа составляет от 1 до 5 рабочих дней (в зависимости от товара).</p>
        <p>5.6. Сроки доставки не нормированы, и продавец не несет ответственности за срыв сроков доставки.</p>
        <p>5.7. Продавец гарантирует доставку товара.</p>
        <p>5.8. Продавец не несет ответственности за дополнительных таможенные сборы страны покупателя.</p>
        <p>5.9. В том случае, если покупатель не забрал свою посылку в срок, установленный фирмой перевозчиком и товар вернулся в страну отправления, покупатель обязуется оплатить стоимость доставки заново.</p>
        <p>5.10. Продавец обязуется предоставить номер трек номер на каждое отправление.</p>

        <h2>6. Форс- мажорные ситуации</h2>
        <p>6.1. Продавец может отказаться от продажи товара, в следующих случаях:</p>
        <p>6.1.1. Военные действия, в стране доставке.</p>
        <p>6.1.2. Использование товаров не по назначению, изложенному в п. 2.5.</p>
        <p>6.1.3. Эмбарго страны отправителя или страны получателя.</p>
        <p>6.1.4. По любым другим политическим причинам, не зависящие от продавца.</p>

        <p>Внимательно ознакомьтесь с текстом публичной оферты и, если Вы не согласны с каким-либо пунктом оферты, Вы вправе отказаться от покупки Товаров, предоставляемых Продавцом, и не совершать действий, указанных в п. 2.1. настоящей Оферты.</p>
    </div>
    <div class="document" *ngIf="languageString === 'EN'">
        <h1>PUBLIC OFFER</h1>
        <p>Internet-shop «Tarkov-shop.com», located on the domain name (tarkov-shop.com), OOO "Грей Шоп" (Juristic Address and physical Adress - Moscow, 109548, Volgogradskii prospect d42 k42a, OGRN - 1167746532821, INN/KPP - 7723450808/772301001, OKPO 02893172, OKATO - 45393000000)  -  in the person of Макаров Сергей Сергеевич hereinafter referred to as "Seller", publishes a public offer for the sale of goods remote way.</p>

        <h2>1. Definition of Terms</h2>
        <p>1.1. Public offer (hereinafter - the "Offer") - a public offer to the seller addressed to an indefinite number of persons with the Seller conclude a contract of sale of goods remotely (hereinafter - the "Agreement") on the terms contained in this Offer, including all applications.</p>
        <p>1.2. Order goods online online store - the position specified by the buyer of the range of goods offered for sale, if you make an application for the purchase of goods on the site online store or through an operator.</p>
        
        <h2>2. GENERAL PROVISIONS</h2>
        <p>2.1. Order buyer of the goods placed on the online store website means that the buyer agrees to all the terms of this Offer.</p>
        <p>2.2. Administration of this site Online Store has the right to make changes in the offer without notification to Buyer.</p>
        <p>2.3. Validity of the offer is not restricted, unless otherwise indicated on the website online store.</p>
        <p>2.4. Seller shall provide Buyer with complete and accurate information about the product, including information on basic consumer properties of the goods, the place of manufacture.</p>
        <p>2.5. Products presented on the site are only for sports, but also for tourism.</p>
        <p>2.6. Seller is not responsible for the use of the goods to the destination specified in Sec. 2.5 of this agreement.</p>
        <p>2.7. Agreement is made in two languages: English and Russian. Both treaties have the same legal force.</p>
        
        <h2>3. The price of goods</h2>
        <p>3.1. Price for each position of the goods listed on the online store website.</p>
        <p>3.2. Seller has the right to unilaterally change the price at any position of the goods.</p>
        <p>3.3. In the case of price changes of goods ordered Seller shall inform the Purchaser 7 days of change in price of the goods.</p>
        <p>3.4. Buyer has the right to confirm or cancel the order for the purchase of goods if the price changed by the Seller after ordering.</p>
        <p>3.5. Change in prices paid by Seller Buyer Product not allowed.</p>
        <p>3.6. Seller indicates the cost of delivery to your online store website. Price is subject to change, if the buyer completes your order. In this case, he is obliged to pay the difference in cost.</p>
        <p>3.7. The buyer's obligation to pay for the goods considered fulfilled upon receipt of funds by the Seller.</p>
        <p>3.8. Settlements between the Seller and the Buyer for the Goods are produced in the manner prescribed on the site online shopping payment, when placing the goods.</p>
        <p>3.9. In case of purchasing goods for foreign currency, the conversion rate is calculated at the Central Bank rate on the day of payment.</p>

        <h2>4. ORDERING</h2>
        <p>4.1. Order goods made by the Buyer via the website tarkov-shop.com</p>
        <p>4.2. When you register online e-shop Buyer agrees to provide the following login information:</p>
        <p>4.2.1. surname, first name, middle name of the Buyer or person on its behalf (the recipient);</p>
        <p>4.2.2. the address to which you want to deliver the goods (if delivery to the buyer's address);</p>
        <p>4.2.3. email address;</p>
        <p>4.2.4. contact phone number.</p>
        <p>4.3. The name, quantity, range, article, the price selected buyers of the goods specified in the shopping cart online e-shop.</p>
        <p>4.4. If you need more information to the Seller, he may request it from the Buyer. In case of not providing the information required by the Buyer, the Seller shall not be liable for the selected buyer of goods.</p>
        <p>4.5. When ordering through the operator (para. 4.1. Of this Offer) The buyer is obliged to provide the information specified in Sec. 4.2. of this Offer.</p>
        <p>4.6. The adoption by the circumstances of this Offer is carried out by introducing the Buyer the relevant data in the registration form on the website or online store when ordering through the operator. After ordering through the operator customer data registered in the database of the Seller. Order approving the selected goods, the buyer gives the operator the necessary information in accordance with the procedure described in Sec. 4.2. of this Offer.</p>
        <p>4.7. Seller is not responsible for the content or accuracy of the information provided by the Buyer when ordering.</p>
        <p>4.8. The buyer is responsible for the accuracy of the information provided when ordering.</p>
        <p>4.9. Contract of sale remotely between the Seller and the Buyer is concluded with the issuance of the check to the Buyer the proof of payment of the goods.</p>

        <h2>5.  Shipping and transfer goods to the buyer</h2>
        <p>5.1. Buyer Seller provides services for the delivery of goods by one of the methods listed on the website online store.</p>
        <p>5.2. If the contract of sale of goods remotely (hereinafter - the Agreement) entered into with the condition of the delivery of the Goods to the Buyer, the Seller shall within the contract period to deliver the goods to the place specified by the buyer, and if the place of delivery of the goods by the Buyer is not specified, at his place of residence or registration.</p>
        <p>5.3. Place of delivery of the goods The buyer specify when ordering the purchase of goods.</p>
        <p>5.4. Delivery time Goods to the Buyer consists of term order processing and delivery time.</p>
        <p>5.5. Processing time took from 1 till 5 working days (depending on items)</p>
        <p>5.6. Delivery times is not normalized, and the seller is not liable for the failure of delivery time.</p>
        <p>5.7. Seller guarantees delivery of the goods.</p>
        <p>5.8. Seller is not responsible for additional customs fees of buyer's country.</p>
        <p>5.9. In that case, if the buyer fails to take your parcel within the period prescribed by the carrier and the goods returned to the country of origin, the buyer agrees to pay the shipping cost again.</p>
        <p>5.10. Seller agrees to provide the track number number to each administration.</p>
        <p>5.11. All shipping time, that seller wrote on website, is middle shipping time. It can be longer, or shorter. Buyer understand it, and agree.</p>

        <h2>6. Force majeure situation</h2>
        <p>6.1. The seller can refuse to sell goods in the following cases:</p>
        <p>6.1.1. Military operations in the country of delivery.</p>
        <p>6.1.2. Use of goods for other purposes set forth in Sec. 2.5.</p>
        <p>6.1.3. Embargo of the country of the sender or the recipient country.</p>
        <p>6.1.4. For any other political reasons, not depending on the seller.</p>

        <p>Carefully read the text of the public offer and if you disagree with any item of the offer, you have the right to refuse to purchase goods provided by the Seller, and not to commit acts specified in Sec. 2.1. of this Offer.</p>

        <h2>7. Details Seller</h2>
        <p>7.1. Legal address and actual address - Volgograd prospect, 42 K42A</p>
        <p>7.2. OGRN organization - 1167746532821</p>
        <p>7.3. INN / KPP organization - 7723450808/772301001</p>
        <p>I agree with the contract</p>
    </div >
</div>
