<ng-container *ngIf="paymentURL">
    <button class="tarkov-btn m-auto d-block" type="button" (click)="showPayWindow()">
        ОПЛАТИТЬ
    </button>
    <!-- <div class="mx-auto payment-modal" *ngIf="payModal" (click)="showPayModal()">
        <div class="payment-modal__body">
            <iframe [src]="paymentURL|safe" width="100%" height="700px"></iframe>
        </div>
    </div> -->
</ng-container>