<div class="tarkov-card" [routerLink]="['/products/product/' + this.product.id]" routerLinkActive="router-link-active" (mouseenter)="showImage()" (mouseleave)="hideImage()">
  <!-- product image -->
  <div class="img-container">
    <!-- card img -->
    <div class="card-image">
      <div class="card-image__inner-container image_hover d-flex align-items-center" *ngIf="showBackImage">
        <img class="img-fluid"
          [src]="product?.imageBack?.url ? imagePath + product.imageBack.url + '.jpg' : imagePath + 'none.jpg'"
          [alt]="product?.imageBack?.name ? product.imageBack.name : 'none'">
      </div>
      <div class="card-image__inner-container d-flex align-items-center">
        <img [src]="product?.imageFront?.url ? imagePath + product.imageFront.url + '.jpg' : imagePath + 'none.jpg'"
          [alt]="product?.imageFront?.name ? product.imageFront.name : 'none'" class="img-fluid">
      </div>
    </div>
</div>
  <!-- card items -->
  <div class="row options">
    <div class="col-xl-12 d-flex flex-nowrap justify-content-center align-items-center w-100">
      <div class="item" *ngFor="let optionValue of product?.productOptions[0]?.optionValues">
        <img class="item__img" *ngIf="optionValue.image.url !== 'none'" [src]="optionValue?.image?.url ? optionsImagePath + '/' + optionValue.image.type.path + '/' + optionValue.image.url + '.jpg' : optionsImagePath + '/' + optionValue.image.type.path + '/' + 'none.jpg'" alt="">
      </div>
    </div>
  </div>
  <!-- card description -->
  <div class="tarkov-card-text">
    <div class="description">
        <span class="title" appFittext maxFontSize="32">{{product?.localizedDescriptions ? (product?.localizedDescriptions|localization)?.name : 'нет имени'}}</span>
    </div>
    <span class="price">{{product.price.sell|currency|money}}</span>
  </div>
</div>


