.tarkov-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.0625rem solid var(--color-text);
  border-radius: 0.3125rem;
  transition: all .3s ease;
  cursor: pointer;
  position: relative;
  box-shadow: 0rem 0rem 0.1875rem 0rem var(--productCardShadowColor);

  &:hover {
    box-shadow: 0.125rem 0.125rem 0.6875rem 0rem var(--productCardShadowColor);
  }

  // product image
  .img-container {
    width: 100%;
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    .card-image {
      position: absolute;
      width: 100%;
      height: 100%;

      &__inner-container {
        height: 100%;
      }

      .image_hover {
        position: absolute;
        width: 100%;
      }
    }
  }

  .item {
    margin: 0.3125rem;
    width: 15%;
    position: relative;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &__img {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  .options {
    width: 100%;
    min-height: 3.1875rem
  }

  &-text {
    text-align: center;
    font-size: 1.25rem;
    margin: 1.5rem 0;
    padding: 0 0.6875rem;
    width: 100%;

    .description {
      min-height: 4.9375rem;
      width: 100%;
    }

    .title, .subtitle {
      display: block;
      font-size: 2rem;
      line-height: 1.7rem;
    }

    .subtitle {
      font-size: 1rem;
      color: var(--textDescriptionColor);
    }

    .price {
      color: var(--textDescriptionColor);
    }
  }
}
