//  собственные шрифты
@font-face {
  font-family: 'Jovanny Lemonad';
  src: url('assets/fonts/Jovanny-Lemonad-Bender-Bold.otf') format('opentype');
}

@import "../src/mixins.scss";

:root {
  //--textColor: #81765a;
  //--backColor: rgb(0,0,0);
  //--saveColor: rgb(40, 166, 67);
  //--cancelColor: rgb(255, 193, 7);
  ////--createColor: rgb(23, 162, 184);
  //--createColor: rgb(40, 167, 69);
  //--deleteColor: rgb(220, 53, 69);
  //--updateColor: rgb(0,119,255);

  // background color
  --backgroundColor: rgb(0,0,0);
  --bodyBackgroundColor: rgb(15,15,15);
  --backgroundLabelColor: rgb(255,255,255);
  --backgroundFooterColor: rgb(5,30,48);
  --backgroundButtonColor: rgb(154,136,102);
  --backgroundButtonColorHover: rgb(162, 147, 121);
  --backgroundButtonDisabled: rgb(101,101,101);
  --backgroundSubmenuColor: rgba(154,136,102,0.95);
  --backgroundDropdownListColor: rgba(0,0,0,0.75);
  --backgroundCheckOutBlocks: rgb(29,29,28);
  --overflowBackground: rgba(0,0,0,0.8);
  --getTheLatestIntel: rgb(30,30,30);
  --cartListTotalBackground: rgb(25,25,25);
  --cartItemsBackground: rgb(212,41,41)
;  //  border color
  --borderCheckedLabelColor: rgb(55,113,176);
  --borderToggleItemColor: rgba(154,136,102);
  --borderInputColor: rgb(154,136,102);
  --borderDeleteProductButton: rgb(128,128,128);
  // icon color
  --arrowIconColor: rgb(255,255,255);
  // text color
  --textColor: rgb(154,136,102);
  --textHighLightColor: rgb(232,190,107);
  --textInvertColor: rgb(255,255,255);
  --textButton: rgb(255,255,255);
  --textButtonHover: rgb(255,255,255);
  --textDescriptionColor: rgb(174,174,176);
  --textWarning: rgb(255, 0, 0);
  --textBrandColor: rgb(101,101,101);
  //link color
  --linkColorHover: rgb(83, 72, 52);
  --removeAllHover: rgb(212,41,41);

  // shawdows color
  --productCardShadowColor: rgba(232,190,107,0.8);
  --submenuShadowColor: rgba(154,136,102,0.75);
  --optionShadowColor: rgba(154,136,102,0.75);
  --cartShortShadowColor: rgba(65, 61, 52, 1);
  --cartLongShadowColor: rgba(232, 190, 107, 0.8);
  --bottomInnerCartShadowColor: rgba(0, 0, 0, 0.61);
}
//  BODY
body {
  font-family: 'Jovanny Lemonad', Fallback, sans-serif !important;
  background-color: var(--bodyBackgroundColor);
  color: var(--textColor);
}

//  Base icon
.icon {
  height: 1.3125rem;
  width: 1.3125rem;
  fill: var(--textColor);
  cursor: pointer;
}

// Outline style
* {
  outline-color: var(--textHighLightColor);

  @include respond(tab-land) {
    outline: none !important;
  }
}

// no scroll when modal open
body.no-scroll {
  overflow: hidden;
  margin-right: 0.9375rem;

  // сдвиг для меню на величину ширины скролла
  .navigation__list--icon {
    margin-right: 0.9375rem;
  }
}