// MEDIA QUERY MANAGER
/*
0   - 320px     Mini Phone
320 - 415px     Phone
415 - 768px:    iPad
768 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   is where our normal styles apply
1800px + :      Big desktop
$breakpoint argument
- mini-phone
- phone
- tab-port
- tab-land
- big-desktop
 */

@mixin respond($breakpoint) {
  @if $breakpoint == mini-phone {
    @media only screen and (max-width: 20em) { @content }       // 320px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 25.9375em) { @content }  // 415px
  }
  @if $breakpoint == bootstrap-iPad {
    @media only screen and (max-width: 47.9375em) { @content }  // 767
  }
  @if $breakpoint == iPad {
    @media only screen and (max-width: 48em) { @content }       // 768
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }     // 900px
  }
  @if $breakpoint == bootstrap-tab-land {
    @media only screen and (max-width: 74.9375em) { @content }   // 1199px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }        // 1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content }     // 1800px
  }
}
