<!-- product detail -->
<!-- navigation path -->
<div class="path">
  <span>{{localizations|locale_keyword:'home'}} / {{product?.localizedDescriptions ? (product.localizedDescriptions|localization).name : 'нет имени'}}</span>
</div>
<div class="container-tarkov">

  <div *ngIf="product != null"  class="row product-container">
    <!-- Left column -->
    <div class="col-md-12 col-xl-6">
      <!-- Блок с картинками товара -->
      <div class="img-container">
        <!-- Превьюшки -->
        <div class="img-container__previews">
          <div class="preview" *ngFor="let image of product.productImages">
            <div class="preview__image">
              <img
              class="w-100"
              [src]="image?.image?.url ? imagePath + 'icon/' + image.image.url + '.jpg' : imagePath + 'none.jpg'"
              [alt]="image?.image?.name ? image.image.name : 'none'"
              (click)="changeFrontImagePath(image?.image?.url ? imagePath + image.image.url + '.jpg' : imagePath + 'none.jpg')">
            </div>
          </div>
        </div>
        <!-- Основная каринка -->
        <div class="img-container__full">
          <div class="full">
            <div class="full__image">
              <img class="w-100" [src]="frontImagePath" [alt]="product?.imageFront?.name ? product.imageFront.name : 'none'">
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row previews-img-container">
        <div class="col-2 previews-container">
          <div class="previews">
            <img
              *ngFor="let image of product.productImages"
              class="preview-img"
              [src]="image?.image?.url ? imagePath + image.image.url + '.jpg' : imagePath + 'none.jpg'"
              [alt]="image?.image?.name ? image.image.name : 'none'"
              (click)="changeFrontImagePath(image?.image?.url ? imagePath + image.image.url + '.jpg' : imagePath + 'none.jpg')">
          </div>
        </div>
        <div class="col-10">
          <div class="full-img">
            <img [src]="frontImagePath" [alt]="product?.imageFront?.name ? product.imageFront.name : 'none'">
          </div>
        </div>
      </div> -->
      <!-- Options for mobile -->
      <div class="col-md-12 col-xl-6 options-container_mobile">
        <div class="options-inner-container">
          <!-- title -->
          <h1 class="title">{{product?.localizedDescriptions ? (product.localizedDescriptions|localization).name : 'нет имени'}}</h1>
          <h2 class="subtitle">{{product?.brand.localizedDescriptions ? (product.brand.localizedDescriptions|localization).name : 'нет бренда'}}</h2>
          <!-- rating -->
          <!-- <div class="rating">
            <svg class="icon icon-star">
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
            </svg>
            <svg class="icon icon-star">
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
            </svg>
            <svg class="icon icon-star">
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
            </svg>
            <span class="rating-text">4 Reviews</span>
          </div> -->
          <!-- price -->
          <span class="price">{{product ? (product.price.sell|currency|money) : 'нет цены'}}</span>
          <!-- options -->
          <div class="option" *ngFor="let productOption of product.productOptions">
            <div class="row" *ngIf="productOption.option.type.name=='size'">
              <button class="option__size-button" [ngClass]="{'option__size-button_active': selectedSizeType==='us'}"  (click)="selectSizeType('us')">US Size</button>
              <button class="option__size-button" [ngClass]="{'option__size-button_active': selectedSizeType==='int'}"  (click)="selectSizeType('int')">International Size</button>
              <button class="option__size-button" [ngClass]="{'option__size-button_active': selectedSizeType==='ru'}"  (click)="selectSizeType('ru')">RU Size</button>
              <button class="option__size-button" [ngClass]="{'option__size-button_active': selectedSizeType==='inch'}"  (click)="selectSizeType('inch')">Inches</button>
              <button class="option__size-button" [ngClass]="{'option__size-button_active': selectedSizeType==='cent'}"  (click)="selectSizeType('cent')">Centimeters</button>
            </div>
            <span class="option__text">{{productOption?.option.localizedDescriptions ? (productOption.option.localizedDescriptions|localization).title : 'нет имени'}}:</span>
            <!-- предупреждение, если не выбрана опция -->
            <span class="option__warning" *ngIf="colorWarning"> {{localizations|locale_keyword:'colorselect'}}</span>
            <span class="option__warning" *ngIf="sizeWarning"> {{localizations|locale_keyword:'sizeselect'}}</span>
            <div *ngIf="productOption.option.type.name=='color'" class="option__boxes">
              <div class="option__box option__box_image" *ngFor="let optionValue of productOption.optionValues" [ngClass]="{'option__box_active': selectedColorId===optionValue.id}"  (click)="changeProductOptions(productOption.option.type, optionValue)">
                <img
                class="option__image"
                [src]="optionValue?.image?.url ? optionsImagePath + '/' + optionValue.image.type.path + '/' + optionValue.image.url + '.jpg' : optionsImagePath + '/' + optionValue.image.type.path + '/' + 'none.jpg'"
                [alt]="optionValue?.image?.name ? optionValue.image.name : 'none'">
              </div>
            </div>
            <div class="option__boxes" *ngIf="productOption.option.type.name=='size'">
              <div class="option__box option__box_size" *ngFor="let optionValue of productOption.optionValues" [ngClass]="{'option__box_active': selectedSizeId === optionValue.id}"  (click)="changeProductOptions(productOption.option.type, optionValue)">
                <span>{{optionValue[selectedSizeType]}}</span>
              </div>
            </div>
          </div>
          <!-- quantity -->
          <div class="cart-add">
            <!-- button add to card -->
            <button class="cart-btn"
                    (click)="addProductToCart()"
            >{{localizations|locale_keyword:'addtocart'}}
            <img class="product-to-cart" #imageForAnimationMobile [src]="frontImagePath" [@moveToCart]="{value: moveToCartAnimation, params: {x: imagePositionMobile.x, y: imagePositionMobile.y}}" alt="">
            </button>
            <div class="count">
              <!-- button remove 1 value -->
              <button class="btn-icon" (click)="decAmountOfProduct()">
                <svg class="icon icon-prev">
                  -->
                  <use
                    xlink:href="../../../assets/icons/sprite.svg#icon-Next_1"
                  ></use>
                </svg>
              </button>
              <!-- value -->
              <!-- <span>{{amountOfProduct}}</span> -->
              <input class="count__input" type="text" (keydown)="checkOnSymbols($event)" (keyup)="changeAmountOfProduct()" appAutowidth [(ngModel)]="amountOfProduct" #productCountInput>
              <!-- button add 1 value -->
              <button class="btn-icon" (click)="incAmountOfProduct()">
                <svg class="icon icon-next">
                  <use
                    xlink:href="../../../assets/icons/sprite.svg#icon-Next_1"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row deteils w-100">
          <div class="col-md-7 details__left">
            <!-- description -->
            <div class="details__description">
              <!-- product title -->
              <p class="details__title">{{localizations|locale_keyword:'pDescription'}}</p>
              <!-- product description -->
              <p class="details__item details__item_indent">
                  {{product?.localizedDescriptions ? (product.localizedDescriptions|localization).description : 'нет описания'}}
              </p>
              <p class="details__item details__item_indent">
                {{product?.localizedDescriptions ? (product.localizedDescriptions|localization).descriptionTwo : 'нет описания'}}
              </p>
              <p class="details__item details__item_indent">
                {{product?.localizedDescriptions ? (product.localizedDescriptions|localization).descriptionThree : 'нет описания'}}
              </p>
            </div>
          </div>
          <div class="col-md-5 details__right">
            <!-- product featured -->
            <div class="details__featured">
              <p class="details__title">{{localizations|locale_keyword:'pFeatured'}}</p>
              <ul>
                <li *ngFor="let feature of (product.localizedFeatures|localization_array)">
                  {{feature.text}}
                </li>
              </ul>
            </div>
            <!-- product materials -->
            <div class="details__materials">
              <p class="details__title">{{localizations|locale_keyword:'pMaterials'}}</p>
              <p class="details__item">
                {{(product.localizedMaterial|localization_array)[0].text}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right column -->
    <!-- Options desktop -->
    <div class="col-md-12 col-xl-6 options-container">
      <div class="options-inner-container">
        <!-- title -->
        <h1 class="title">{{product?.localizedDescriptions ? (product.localizedDescriptions|localization).name : 'нет имени'}}</h1>
        <h2 class="subtitle">{{product?.brand.localizedDescriptions ? (product.brand.localizedDescriptions|localization).name : 'нет бренда'}}</h2>
        <!-- rating -->
        <!-- <div class="rating">
          <svg class="icon icon-star">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
          </svg>
          <svg class="icon icon-star">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
          </svg>
          <svg class="icon icon-star">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Star"></use>
          </svg>
          <span class="rating-text">4 Reviews</span>
        </div> -->
        <!-- price -->
        <span class="price">{{product ?  (product.price.sell|currency|money) : 'нет цены'}}</span>
        <!-- options for desktop -->
        <div class="option" *ngFor="let option of product.productOptions">
          <div class="row" *ngIf="option.option.type.name=='size'">
            <button class="option__size-button" [ngClass]="{'option__size-button_active': selectedSizeType==='us'}"  (click)="selectSizeType('us')">US Size</button>
            <button class="option__size-button" [ngClass]="{'option__size-button_active': selectedSizeType==='int'}"  (click)="selectSizeType('int')">International Size</button>
            <button class="option__size-button" [ngClass]="{'option__size-button_active': selectedSizeType==='ru'}"  (click)="selectSizeType('ru')">RU Size</button>
            <button class="option__size-button" [ngClass]="{'option__size-button_active': selectedSizeType==='inch'}"  (click)="selectSizeType('inch')">Inches</button>
            <button class="option__size-button" [ngClass]="{'option__size-button_active': selectedSizeType==='cent'}"  (click)="selectSizeType('cent')">Centimeters</button>
          </div>
          <span class="option__text">{{option?.option.localizedDescriptions ? (option.option.localizedDescriptions|localization).title : 'нет имени'}}:</span>
          <!-- предупреждение, если не выбрана опция -->
          <span class="option__warning" *ngIf="colorWarning"> необходимо выбрать цвет</span>
          <span class="option__warning" *ngIf="sizeWarning"> необходимо выбрать размер</span>
          <div *ngIf="option.option.type.name=='color'" class="option__boxes">
            <div class="option__box option__box_image" *ngFor="let optionValue of option.optionValues" [ngClass]="{'option__box_active': selectedColorId===optionValue.id}"  (click)="changeProductOptions(option.option.type, optionValue)">
              <img
              class="option__image"
              [src]="optionValue?.image?.url ? optionsImagePath + '/' + optionValue.image.type.path + '/' + optionValue.image.url + '.jpg' : optionsImagePath + '/' + optionValue.image.type.path + '/' + 'none.jpg'"
              [alt]="optionValue?.image?.name ? optionValue.image.name : 'none'">
            </div>
          </div>
          <div class="option__boxes" *ngIf="option.option.type.name=='size'">
            <div class="option__box option__box_size" *ngFor="let optionValue of option.optionValues" [ngClass]="{'option__box_active': selectedSizeId === optionValue.id}"  (click)="changeProductOptions(option.option.type, optionValue)">
              <span>{{optionValue[selectedSizeType]}}</span>
            </div>
          </div>
        </div>
        <!-- quantity -->
        <div class="cart-add">
          <!-- button add to card -->
          <button class="cart-btn"
                  (click)="addProductToCart()">{{localizations|locale_keyword:'addtocart'}}
            <img class="product-to-cart" #imageForAnimationDesktop [src]="frontImagePath" [@moveToCart]="{value: moveToCartAnimation, params: {x: imagePositionDesktop.x, y: imagePositionDesktop.y}}" alt="">
          </button>
          <div class="count">
            <!-- button remove 1 value -->
            <button class="btn-icon" (click)="decAmountOfProduct()">
              <svg class="icon icon-prev">
                -->
                <use
                  xlink:href="../../../assets/icons/sprite.svg#icon-Next_1"
                ></use>
              </svg>
            </button>
            <!-- value -->
            <!-- <span contenteditable="true">{{amountOfProduct}}</span> -->
            <input class="count__input" type="text" (keydown)="checkOnSymbols($event)" (keyup)="changeAmountOfProduct()" appAutowidth [(ngModel)]="amountOfProduct" #productCountInput>
            <!-- button add 1 value -->
            <button class="btn-icon" (click)="incAmountOfProduct()">
              <svg class="icon icon-next">
                <use
                  xlink:href="../../../assets/icons/sprite.svg#icon-Next_1"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  RELATED PRODUCT  -->
  <div class="row">
    <div class="col-xl-12">
      <!-- related -->
      <div class="related mb-5">
        <h1 class="title mb-5">{{localizations|locale_keyword:'pRelated'}}</h1>
        <!-- list products -->
        <app-list-products [relatedProducts]='true'></app-list-products>
      </div>
    </div>
  </div>
</div>
