@import "../../../mixins";

.hide {
  display: none !important;
}

.path {
  padding: 5.625rem 0 1.625rem 1rem;
  font-size: 1rem;

  @include respond(phone) {
    padding: 5.125rem 0 1rem 1rem;
    font-size: 1rem;
  }
}

.container-tarkov {
  margin: 0 2.5rem;

  @include respond(tab-land) {
    margin: 0 1.25rem;
  }

  @include respond(phone) {
    margin: 0 1rem;
  }
}

.product-container {
  position: relative;
  margin-bottom: 6.25rem;

  @include respond(bootstrap-tab-land) {
    margin-bottom: 3.25rem;
  }
}

// блок с каринками товара
.img-container {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-around;
  height: 38vw;
  overflow: hidden;

  @include respond(bootstrap-tab-land) {
    height: 69vw;
    margin-bottom: 2rem;
  }

  @include respond(bootstrap-iPad) {
    height: 78vw;
  }

  @include respond(phone) {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 110vw;
  }

  // колонка - превьюшки
  &__previews {
    width: 15%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox 64 */

    &::-webkit-scrollbar {
      width: 0 !important;
    }

    @include respond(phone) {
      flex-direction: row;
      width: 100%;
    }

    // превьюшка - контейнер
    .preview {
      width: 80%;
      position: relative;
      margin-bottom: 1.5625rem;

      // сохранение квадратной пропорции
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      @include respond(phone) {
        margin: 0;
        width: auto;
        min-width: 3rem;
        margin-right: 1rem;
      }

      &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0.4375rem;
        border: solid 0.0625rem var(--textColor);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
    }
  }

  // колонка - полная картинка
  &__full {
    width: 80%;

    @include respond(bootstrap-tab-land) {
      width: 70%;
    }

    @include respond(bootstrap-iPad) {
      width: 80%;
    }

    @include respond(phone) {
      width: 100%;
    }

    // полная картинка - контейнер
    .full {
      width: 100%;
      position: relative;

       // сохранение квадратной пропорции
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0.4375rem;
        border: solid 0.0625rem var(--textColor);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
    }
  }
}

.options-container {

  margin-top: -2.625rem;

  &_mobile {
    display: none;
  }
  
  @include respond(bootstrap-tab-land) {
    display: none;
  }

  &_mobile {
    @include respond(bootstrap-tab-land) {
      display: block;
    }
  }
}

.options-inner-container {
  position: sticky;
  top: 6.125rem;

  @include respond(bootstrap-tab-land) {
    position: static;
  }
}

.title {
  display: block;
  font-size: 2.0625rem;

  @include respond(tab-land) {
    font-size: 1.3125rem;
  }

  @include respond(iPad) {
    margin-top: 2.25rem;
    font-size: 1.625rem;
  }
}

.subtitle {
  margin-top: 0.75rem;
  display: block;
  font-size: 1.125rem;

  @include respond(tab-land) {
    font-size: 0.75rem;
  }

  @include respond(phone) {
    font-size: 1rem;
  }
}

.rating {
  margin-top: 1.625rem;

  @include respond(phone) {
    margin-top: 1.4375rem;
  }

  .icon {
    height: 1rem;
    width: 1.0625rem;
    fill: var(--textDescriptionColor);
    margin: 0 0.28125rem;

    &:first-child {
      margin-left: 0;
    }

    &-star {
      fill: var(--textColor);
    }
  }

  &-text {
    font-size: 1.125rem;
    margin-left: 1.75rem;

    @include respond(tab-land) {
      font-size: 0.75rem;
    }

    @include respond(phone) {
      font-size: 0.875rem;
    }
  }
}

.price {
  display: block;
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--textDescriptionColor);

  @include respond(tab-land) {
    font-size: 1.125rem;
  }

  @include respond(phone) {
    margin-top: 1.4375rem;
    font-size: 1.625rem;
  }
}

/* options styles */
.option {
  margin-top: 1.75rem;
  font-size: 1.25rem;

  @include respond(phone) {
    margin-top: 1.4375rem;
    font-size: 1rem;
  }

  &__boxes {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__box {
    width: 5rem;
    height: 5rem;
    opacity: 1;
    border: solid 0.0625rem var(--textColor);
    margin: 0.375rem 0.625rem;
    background-color: black;
    outline: none;
    transition: all 0.2s ease;
    cursor: pointer;

    @include respond(bootstrap-iPad) {
      width: 4.1875rem;
      height: 4.1875rem;
    }

    @include respond(phone) {
      width: 2.6875rem;
      height: 2.6875rem;
    }

    &_image {
      border-radius: 0.4375rem;
      overflow: hidden;
    }

    &_size {
      border-radius: 6.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.125rem;

      @include respond(bootstrap-iPad) {
        font-size: 0.875rem;
      }
  
      @include respond(phone) {
        font-size: 0.675rem;
      }
    }

    &:hover {
      box-shadow: -0.0625rem 0rem 0.9375rem 0rem var(--optionShadowColor);
    }

    &_active {
      box-shadow: -0.0625rem 0rem 0.9375rem 0rem var(--optionShadowColor);
      transform: scale(1.1);
    }
  }

    &__image {
      width: 100%;
      height: 100%;
    }

    &__size-button {
      background-color: transparent;
      border: solid 0.0625rem var(--textColor);
      margin: 0.5rem;
      color: var(--textInvertColor);
      padding: 0.5rem;
      outline: none;
      font-size: 0.75rem;

      &:hover {
        box-shadow: -0.0625rem 0rem 0.9375rem 0rem var(--optionShadowColor);
      }

      &_active {
        box-shadow: -0.0625rem 0rem 0.9375rem 0rem var(--optionShadowColor);
        transform: scale(1.1);
      }
    }

    // Предупреждение о невыбранной опции
    &__warning {
      color: var(--textWarning);
    }
}

.cart-add {
  margin-top: 2.875rem;
  display: flex;

  @include respond(phone) {
    margin-top: 2rem;
    justify-content: space-between;
  }

  .cart-btn {
    position: relative;
    border: none;
    padding: 1.5625rem 4.0625rem;
    border-radius: 0.4375rem;
    background-color: var(--textColor);
    margin-right: 5.25rem;
    cursor: pointer;
    outline: none;

    .product-to-cart {
      position: absolute;
      width: 3.75rem;
      top: 0;
      z-index: -1;
      border-radius: 5.9375rem;
      outline: none;
    }

    @include respond(tab-land) {
      padding: 1.125rem 1.6rem;
    }

    @include respond(phone) {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 1.125rem 1.75rem;
    }
  }

  .count {
    display: flex;
    align-items: center;

    &__input {
      background-color: var(--bodyBackgroundColor);
      border: none;
      color: var(--textColor);
      outline: none;
      font-size: 1.125rem;
    }

    .btn-icon {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .icon-prev {
      transform: rotate(180deg);
    }
  }
}

.details {
  font-size: 1.25rem;
  color: var(--textDescriptionColor);

  @include respond(tab-land) {
    font-size: 0.75rem;
  }

  @include respond(phone) {
    font-size: 1rem;
  }

  &__left {

    @include respond(iPad) {
      padding-left: 2.9375rem;
      text-align: justify;
    }
  }

  &__right {
    border-left: .0625rem solid var(--textColor);
    padding-left: 1.875rem;

    @include respond(iPad) {
      border-left: none;
      padding-left: 2.9375rem;
      text-align: justify;
    }
  }

  &__description {

  }

  &__featured {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.0625rem solid var(--textColor);

    @include respond(bootstrap-iPad) {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    ul {
      list-style: none;
  
      li {
        position: relative;
        font-size: 1.25rem;
        color: var(--textDescriptionColor);
  
        &:not(:first-child) {
          margin-top: 1.375rem;
        }
  
        &:before {
          content: '';
          width: .75rem;
          height: .75rem;
          background-color: var(--textColor);
          position: absolute;
          border-radius: 50%;
          left: -1.875rem;
          top: 0.3125rem;
        }
      }
    }
  }

  &__materials {

  }

  &__title {
    font-size: 1.5625rem;
    font-weight: 500;
    padding-bottom: 1.5625rem;
    color: var(--textColor);
    margin-bottom: 0;

    @include respond(tab-land) {
      margin-top: 2rem;
    }
  }

  &__item {
    font-size: 1.25rem;
    color: var(--textDescriptionColor);

    &_indent {
      text-indent: 1.5rem;
    }

  }
}

.review {
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;

  @include respond(tab-land) {
    margin-top: 2rem;
  }

  @include respond(phone) {
    margin-top: 2.75rem;
  }

  .recomend {
    &-percent, &-stars {
      display: block;
    }

    &-percent {
      font-size: 1.875rem;

      @include respond(phone) {
        font-size: 1.625rem;
      }
    }

    &-stars {
      font-size: 1.25rem;

      @include respond(phone) {
        font-size: 1.125rem;
      }
    }
  }

  &-add {
    display: flex;
    cursor: pointer;
    transition: transform .3s ease;
    font-size: 1.25rem;

    @include respond(phone) {
      font-size: 1rem;
      margin-top: 1.75rem;
    }

    &:hover {
      transform: scale(1.2);
    }

    .icon {
      margin-left: 1.125rem;
    }
  }
}

.comments {
  font-size: 1rem;

  @include respond(phone) {
    font-size: 0.875rem;
  }

  .container-tarkov {
    margin-top: 0;
    padding-top: 2.5rem;
  }

  .comment {
    width: 100%;
    opacity: 1;
    border-radius: 0.4375rem;
    background-color: #d8d8d8;

    &-bg--dark {
      background-color: var(--backgroundColor);
    }

    &-name {
      font-size: 1.25rem;
      margin-bottom: 3.1875rem;
    }

    &-text {

      &_hide {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
    }

    &-expand-link {
      cursor: pointer;

      &:hover {
        color: var(--linkColorHover);
      }
    }

    &-rating {
      .icon {
        height: 1rem;
        width: 1.0625rem;
        fill: var(--textDescriptionColor);
        margin: 0 0.28125rem;

        &:first-child {
          margin-left: 0;
        }

        &-star {
          fill: var(--textColor);
        }
      }

      &-text {
        font-size: 1.125rem;
        margin-left: 1.75rem;
      }
    }
  }
}

.pagination {
  list-style: none;
  font-size: 1.125rem;

  @include respond(phone) {
    font-size: 1rem;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.25rem;
    height: 3.125rem;
    opacity: 1;
    border-radius: 0.25rem;
    border: solid 0.0625rem var(--textColor);
    margin: 0 0.3rem;
    cursor: pointer;

    &:hover {
      background-color: var(--textColor);
      text-decoration: none;
    }
  }

  .active {
    background-color: var(--textColor);
    color: var(--textInvertColor);
  }

  .link {
    color: var(--textDescriptionColor);
    text-decoration: none;
  }

  .icon-prev {
    transform: rotate(180deg);
  }
}

.related {
  .title {
    font-size: 1.875rem;
  }
}
