<div class="path">
    <span>{{localizations|locale_keyword:'home'}} / 
        <span *ngIf="languageString === 'RU'">Информация о доставке</span>
        <span *ngIf="languageString === 'EN'">Delivery Types</span>
    </span>
</div>
<div class="container-tarkov">
    <div class="document" *ngIf="languageString === 'RU'">
        <h1>Информация о доставке</h1>
        <p>На нашем сайте доступны следующие способы доставки и получения заказа:</p>
        <p><b>1. Самовывоз.</b> Только для жителей Москвы. Самовывоз осуществляется с нашего склада - Большой Симоновский переулок д2 . Время работы - ПН-СБ с 11 до 20.</p>
        <p><b>2. Доставка Почтой России.</b> Доставка действует по всей России и СНГ. Доставка осуществляется до вашего почтового отделения. Будьте внимательны с написанием своего адреса и почтового индекса! Среднее время доставки зависит от региона и населенного пункта.</p>
        <p><b>3. Доставка EMS.</b> Самый быстрый метод доставки. В среднем составляет 2-3 дня в зависимости от региона. Доставляется вам курьером, по адресу указанному в заказе (в т.ч. на работу и т.д.)</p>
    </div>
    <div class="document" *ngIf="languageString === 'EN'">
        <h1>Delivery Types</h1>
        <p class="text-center">THE BEST CHOICE</p>
        <div class="document__deliveries">
            <img class="document__deliveries-img" src="../../../assets/img/delivery/Russian-Post.jpg" alt="">
            <img class="document__deliveries-img" src="../../../assets/img/delivery/dhl.jpg" alt="">
            <img class="document__deliveries-img" src="../../../assets/img/delivery/ems.jpg" alt="">
        </div>

        <h3>Prime Shipping - premium delivery with a DHL Express courier within 1-2 business days</h3>
        <p>The fastest delivery option provided by DHL Express, the world leader in logistics and express delivery services. Your order will be delivered by a courier to your home or office address within 1-2 business days after it has been placed. We strongly recommend express delivery if time is your priority.</p>
        <p>Please follow the link to learn more about DHL Express and the services it provides: https//grey-shop.ru/DHL </p>

        <h3>STANDARD DELIVERY: standard delivery with an EMS courier within 6-9 business days.</h3>
        <p>Delivery service provided by EMS takes longer – 6 to 9 business days after your order has been placed. It will be delivered by a courier to your home or office address.</p>

        <h3>CLICK & COLLECT: postal service delivery by Russian Post within 40-180 days (depending on the destination).</h3>
        <p>The slowest, but on the plus side the cheapest delivery option provided by Russian Post. Shipping times vary depending on the destination: delivery to Europe and Asia takes approximately 40 days, both Americas and Oceania – up to 150. The order is delivered to your post office.</p>

        <h3>CLICK & COLLECT (small packages): postal service delivery by Russian Post within 10-14 days offered for shipping small packages.</h3>
        <p>Another affordable delivery option provided by Russian Post for small shipments ONLY (up to 2 kg in weight). The order is delivered to your post office.</p>

        <h3>We provide insurance for all shipments thus ensuring timely, accurate and secure delivery.</h3>
    </div >
</div>
