@import "../../../mixins";

.path {
    padding: 5.625rem 0 1.625rem 1rem;
    font-size: 1rem;
}

.container-tarkov {
    margin: 0 2.5rem;

    @include respond(tab-land) {
      margin: 0 1.25rem;
    }
  
    @include respond(iPad) {
      margin: 0 1rem;
    }
}

.document {
    width: 80%;
    margin: auto;

    @include respond(bootstrap-iPad) {
        width: 100%;
    }

    &__deliveries{
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;

        @include respond(bootstrap-iPad) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__deliveries-img {
        width: 32%;

        @include respond(bootstrap-iPad) {
            width: 70%;
            margin-bottom: 2rem;
        }

        @include respond(phone) {
            width: 100%;
        }
    }
}