<!-- mobile / tablet menu -->
<nav class="navigation-mob">
  <div class="row justify-content-between navigation-mob__head">
    <div (click)="invertShowMobileMenu()">
      <span class="navigation-mob__burger">&nbsp;</span>
    </div>
    <a routerLink="/" class="logo">
      <img [src]="logoPath" alt="" class="logo-img">
    </a>
    <!-- icons list -->
    <ul class="navigation-mob__list--icon">
      <!-- icon shop -->
      <li class="navigation-mob__item cart-icon" (click)="invertShowCart()">
        <a class="navigation-mob__link" [ngStyle]="{'display': 'block'}">
          <svg class="icon">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Shop"></use>
          </svg>
          <div class="cart-icon-count-items" *ngIf="cartItemsAmount > 0">
            <span>
                {{cartItemsAmount}}
            </span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <hr class="navigation-mob__border--top" *ngIf="showMobileMenu">
  <div class="row" *ngIf="showMobileMenu">
    <ul class="navigation-mob__list">
      <!-- icon contacts -->
      <li class="navigation-mob__item" (click)="invertShowMobileMenu()">
        <a class="navigation-mob__link" routerLink="/contact">
          <svg class="icon">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-User"></use>
          </svg>
          <span class="navigation-mob__text">{{localizations|locale_keyword:'contacts'}}</span>
        </a>
        <hr class="navigation-mob__border">
      </li>

      <!-- icon search -->
      <!-- <li class="navigation-mob__item">
        <a class="navigation-mob__link">
          <svg class="icon">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Search"></use>
          </svg>
          <span class="navigation-mob__text">SEARCH</span>
        </a>
        <hr class="navigation-mob__border">
      </li> -->

      <!-- icon settings -->
      <li class="navigation-mob__item settings">
        <a class="navigation-mob__link" (click)="invertMobileSettings()">
          <svg class="icon">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Settings"></use>
          </svg>
          <span class="navigation-mob__text">SETTINGS</span>
          <!--      текущий язык      -->
          <span class="ml-auto">{{language?.title ? language.title : ''}}/</span>
          <!--      текущая валюта      -->
          <span class="mr-5" >{{currency?.code ? currency.code : ''}} {{currency.symbol}}</span>
        </a>
        <div class="toggles d-flex justify-content-between" *ngIf="showMobileSettingsToggles" @showDropdownBlock>
          <!--   блок выбора языка   -->
          <div class="toggles__left">
            <button *ngFor="let lang of languages" class="toggles__button" [ngClass]="{'toggles__button_active': lang===language}" (click)="setLanguage(lang)">{{lang.title}}</button>
          </div>
          <!--   блок выбора валюты   -->
          <div class="toggles__right">
            <button *ngFor="let cur of currencies" class="toggles__button" [ngClass]="{'toggles__button_active': cur===currency}" (click)="setCurrency(cur)">{{cur.code}} {{cur.symbol}}</button>
          </div>
        </div>
        <hr class="navigation-mob__border">
      </li>
      <!-- элементы меню -->
      <li class="navigation-mob__item" routerLinkActive="active" *ngFor="let category of categories" (click)="invertShowMobileMenu()">
        <a class="navigation-mob__link d-flex mr-auto" href="#"  [routerLink]="['' + category.seoLink]">{{(category.localizedDescriptions|localization).name}}</a>
        <hr class="navigation-mob__border">
      </li>
    </ul>
  </div>

</nav>
<div class="overlay" @overlay *ngIf="showMobileMenu" (click)="invertShowMobileMenu()"></div>

<!-- desktop menu -->
<nav class="navigation">
  <a routerLink="/" class="logo mr-5">
    <img [src]="logoPath" alt="" class="logo-img">
  </a>
  <ul class="navigation__list mr-auto align-items-center">
    <!-- элементы меню -->
<!--    <li class="navigation__item menu-item" (mouseenter)="showNestedMenu()" routerLinkActive="active"-->
<!--        *ngFor="let menuItem of menu">-->
<!--      <a class="navigation__link dropdown-toggle" href="#" [routerLink]="[menuItem.route]">{{menuItem.title}}<span-->
<!--        class="caret"></span>-->
<!--      </a>-->
<!--    </li>-->
    <li class="navigation__item menu-item"
        *ngFor="let category of categories" [routerLink]="['' + category.seoLink]" routerLinkActive="navigation__link_active">
        <div class="navigation__link-container d-flex align-items-center">
          <a class="navigation__link">{{(category.localizedDescriptions|localization).name}}
              </a>
        </div>
    </li>
  </ul>
  <!--  Настройки  -->
  <ul class="navigation__list flex-grow-1 justify-content-center">
    <li class="navigation__item settings ml-auto" [ngClass]="{'settings_active' : showSettingsToggles === true}">
      <div class="settings__container d-flex zalign-items-center" (click)="invertSettingsToggles()">
        <a class="navigation__link d-flex flex-row align-items-center">
          <svg class="icon mr-3">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Settings"></use>
          </svg>
          <div class="d-flex flex-column">
              <!--      текущая валюта      -->
              <span class="settings__descr" >{{currency?.code ? currency.code : ''}}</span>
              <!--      текущий язык      -->
              <span class="settings__descr">{{language?.title ? language.title : ''}}</span>
          </div>
        </a>
      </div>
      <div class="settings__toggles toggles d-flex justify-content-between" *ngIf="showSettingsToggles" @showDropdownBlock>
        <!--   блок выбора языка   -->
        <div class="toggles__left">
          <button *ngFor="let lang of languages" class="toggles__button" [ngClass]="{'toggles__button_active': lang===language}" (click)="setLanguage(lang)">{{lang.title}}</button>
<!--          <button class="toggles__button" [ngClass]="{'toggles__button_active': selectedLanguage==='en'}" (click)="chooseLanguage('en')">English</button>-->
        </div>
        <!--   блок выбора валюты   -->
        <div class="toggles__right">
          <button *ngFor="let cur of currencies" class="toggles__button" [ngClass]="{'toggles__button_active': cur===currency}" (click)="setCurrency(cur)">{{cur.code}} {{cur.title}}</button>
<!--          <button class="toggles__button" [ngClass]="{'toggles__button_active': selectedCurrency==='rub'}" (click)="chooseCurrency('rub')">Р рубли</button>-->
        </div>
      </div>
    </li>
    <li class="navigation__item menu-item" routerLink="/contact">
      <a class="navigation__link d-block">
        <svg class="icon mr-3">
          <use xlink:href="../../../assets/icons/sprite.svg#icon-User"></use>
        </svg>
        <span>{{localizations|locale_keyword:'contacts'}}</span>
      </a>
    </li>
  </ul>
  <!-- icons list -->
  <ul class="navigation__list--icon d-flex justify-content-end">
    <!-- icon search -->
    <!-- <li class="navigation__item navigation__search search">
      <div class="search__input-container">
        <input @showHideSearch type="text" class="form-control" placeholder="Search" *ngIf="showSearch" (keyup)="searchResults()" [(ngModel)]="searchInputValue" #inputBlock>
        <a class="navigation__link" (click)="invertShowSearch()">
          <svg class="icon">
            <use xlink:href="../../../assets/icons/sprite.svg#icon-Search"></use>
          </svg>
        </a>
      </div>
      <div *ngIf="showSearchResults" @showDropdownBlock class="search__results">
        <div class="search__results-item" routerLink="/products/product/1">
          <img class="search__results-img" src="../../../assets/img/Kiver-M_Helmet.png" alt="">
          <p class="search__results-header">Backpak "Bercut"</p>
          <p class="search__results-price">28$</p>
        </div>
        <div class="search__results-item" routerLink="/products/product/1">
          <img class="search__results-img" src="../../../assets/img/Kiver-M_Helmet.png" alt="">
          <p class="search__results-header">Backpak "Bercut"</p>
          <p class="search__results-price">28$</p>
        </div>
        <div class="search__results-item" routerLink="/products/product/1">
          <img class="search__results-img" src="../../../assets/img/Kiver-M_Helmet.png" alt="">
          <p class="search__results-header">Backpak "Bercut"</p>
          <p class="search__results-price">28$</p>
        </div>
        <div class="search__results-load-more">
          <p>Load More...</p>
        </div>
      </div>
    </li> -->
    <!-- icon user -->
    <!--
    <li class="navigation__item">
      <a class="navigation__link" routerLink="/contact">
        <svg class="icon">
          <use xlink:href="../../../assets/icons/sprite.svg#icon-User"></use>
        </svg>
      </a>
    </li>
    -->
    <!-- icon shop -->
    <li class="navigation__item cart-icon" (click)="invertShowCart()">
      <a class="navigation__link">
        <svg class="icon">
          <use xlink:href="../../../assets/icons/sprite.svg#icon-Shop"></use>
        </svg>
        <div class="cart-icon-count-items" *ngIf="cartItemsAmount > 0">
          <span>
            {{cartItemsAmount}}
          </span>
        </div>
      </a>
    </li>
  </ul>

  <!-- submenu -->
  <div class="submenu" @fadeInOut *ngIf="showSubMenu">
    <div class="container-fluid">
      <!-- submenu title -->
      <div class="row mt-4 mb-3">
        <div class="col-xl-3">
          <span class="submenu__title">UNDERCLOTHING</span>
        </div>
        <div class="col-xl-3">
          <span class="submenu__title">SUMMER SUITS</span>
        </div>
        <div class="col-xl-3">
          <span class="submenu__title">SPECIAL SUITS</span>
        </div>
        <div class="col-xl-3">
          <span class="submenu__title">SPECIAL SUITS</span>
        </div>
      </div>
      <!-- submenu links -->
      <div class="row">
        <div class="col-xl-3">
          <div class="submenu-bar">
            <!-- submenu img -->
            <div class="submenu-img"></div>
            <!-- submenu list -->
            <ul class="submenu-list">
              <li class="submenu-list__item">T-Shirts</li>
              <li class="submenu-list__item">Underwear</li>
              <li class="submenu-list__item">Telniashkas</li>
              <li class="submenu-list__item">Gorka Suits</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="submenu-bar">
            <!-- submenu img -->
            <div class="submenu-img"></div>
            <!-- submenu list -->
            <ul class="submenu-list">
              <li class="submenu-list__item">T-Shirts</li>
              <li class="submenu-list__item">Underwear</li>
              <li class="submenu-list__item">Telniashkas</li>
              <li class="submenu-list__item">Gorka Suits</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="submenu-bar">
            <!-- submenu img -->
            <div class="submenu-img"></div>
            <!-- submenu list -->
            <ul class="submenu-list">
              <li class="submenu-list__item">T-Shirts</li>
              <li class="submenu-list__item">Underwear</li>
              <li class="submenu-list__item">Telniashkas</li>
              <li class="submenu-list__item">Gorka Suits</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="submenu-bar">
            <!-- submenu img -->
            <div class="submenu-img"></div>
            <!-- submenu list -->
            <ul class="submenu-list">
              <li class="submenu-list__item">T-Shirts</li>
              <li class="submenu-list__item">Underwear</li>
              <li class="submenu-list__item">Telniashkas</li>
              <li class="submenu-list__item">Gorka Suits</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- cart -->
<app-cart-list *ngIf="showCart"></app-cart-list>

<!-- Overlay for toggle settings -->
<div class="overlay overlay__transparent" @overlay *ngIf="showSettingsToggles" (click)="invertSettingsToggles()"></div>
<!-- Overlay for cart -->
<div class="overlay overlay__transparent" @overlay *ngIf="showSearchResults" (click)="invertShowSearch()"></div>
<!-- Overlay for search -->
<div class="overlay" *ngIf="showCart" (click)="invertShowCart()"></div>
