@import "../../../mixins";

.navigation-mob {
  position: fixed;
  flex-direction: column;
  display: none;
  background-color: var(--backgroundColor);;
  width: 100%;
  z-index: 2000;

  &__head {
    height: 4rem;
  }

  @include respond(tab-land) {
    display: flex;
  }

  &__burger {
    position: relative;
    margin-top: 2rem;
    width: 1rem;
    height: 0.125rem;
    background-color: gray;
    display: inline-block;
    left: 1rem;
    margin-right: 2rem;

    &::before,
    &::after {
      width: 1.5rem;
      height: 0.125rem;
      background-color: gray;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }
  }

  .logo {
    position: relative;
    display: flex;
    align-items: center;

    &-img {
      width: 9rem;
      height: 2.625rem;
      cursor: pointer;
      filter: drop-shadow(0 4px 0.30rem #7d7969);
    }
  }

  .settings {

    .toggles {
      margin-right: 2.375rem;
      margin-top: 1.4375rem;
    }
  }

  .cart-icon {
    position: relative;

    &-count-items {
      position: absolute;
      top: 0.3875rem;
      left: 0.5375rem;
      border: 0.125rem solid var(--backgroundColor);
      font-size: 0.625rem;
      background-color: var(--cartItemsBackground);
      color: var(--textInvertColor);
      border-radius: 6.5625rem;
      height: 1.4375rem;
      width: 1.4375rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      cursor: pointer;
      padding: 0.125rem;

      span {
        overflow: hidden;
      }
    }
  }

  .row {
    margin: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list--icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0 1.25rem;
  }

  &__link {
    display: flex;
    text-decoration: none;
    color: var(--textColor);

    .icon {
      width: 1.6875rem;
      height: 1.6875rem;
    }

    &:hover {
      color: var(--textDescriptionColor);
    }
  }

  &__border, &__border--top {
    width: 100vw;
    margin: .8125rem 0;
    background-color: var(--textDescriptionColor);
    opacity: .25;
  }

  &__border {
    transform: translateX(-1.2rem);
  }

  &__text {
    margin-left: 0.8125rem;
  }
}

.navigation {
  position: fixed;
  display: flex;
  background-color: var(--backgroundColor);
  height: 4rem;
  width: 100%;
  z-index: 2000;

  @include respond(tab-land) {
    display: none;
  }

  .logo {
    position: relative;
    display: flex;
    align-items: center;

    &-img {
      width: 9rem;
      height: 2.625rem;
      cursor: pointer;
      margin-left: 3rem;
      filter: drop-shadow(0 4px 0.30rem #7d7969);
    }
  }

  &__list, &__list--icon {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__list--icon {
    width: 7%;
  }

  &__item {
    height: 4rem;
    padding: 0 1.25rem 0 1.25rem;
    transition: all 0.5s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__link-container {
    height: 100%;
  }

  &__link {
    text-decoration: none;
    color: var(--textColor);
    transition: all 0.5s ease;
    white-space: nowrap;
  }

  .icon {
    transition: all 0.5s ease;
    width: 1.6875rem;
    height: 1.6875rem;
  }

  .menu-item:hover {
    background-color: var(--backgroundButtonColorHover);

    .navigation__link {
      color:  var(--textButtonHover);  

      .icon {
        fill: white;
      }
    }
  }

  // Settings button
  .settings {
    position: relative;
    padding: 0;

    &__container {
      padding: 0 1.25rem 0 1.25rem;
      height: 100%;
    }

    .icon {
      width: 1.3125rem;
      height: 1.3125rem;
      opacity: 0.7;
    }

    &__descr {
      font-size: 0.625rem;
      line-height: 0.75rem;
      opacity: 0.8;
      transition: all 0.5s ease;
    }

    &:hover, &_active {
      .icon{
        opacity: 1;
      }

      .settings__descr {
        opacity: 1;
      }
    }

    &__toggles {
      position: absolute;
      left: -6.25rem;
      right: -6.25rem;
      top: 4rem;
    }
  }

  // Search block
  .search {
    position: relative;
    width: 100%;
    padding: 0;

    &__input-container {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 4rem;

      .form-control {
        padding-right: 2.75rem;
      }

      .navigation__link {
        position: absolute;
        right: 0.9375rem;
        top: 1.3125rem;
      }
    }

    .search__results {
      position: absolute;
      right: 0;
      top: 3.1875rem;
      width: 100%;
      min-width: 34.5rem;
      padding: 0.9375rem 0.9375rem 0 0.9375rem;
      background-color: var(--backgroundDropdownListColor);
      border-radius: 0.25rem;
      overflow: hidden;
      box-shadow: -0.0625rem 0.0625rem 2.3125rem -0.5rem  var(--submenuShadowColor);

      &-item {
        border: 0.0625rem solid var(--borderToggleItemColor);
        border-radius: 0.125rem;
        height: 8.75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &-img {
        height: 100%;
      }

      &-header {
        margin: 0;
        font-size: 1.5625rem;
      }

      &-price {
        margin: 0;
        margin-right: 1.25rem;
        color: var(--textInvertColor);
        font-size: 1.5625rem;
      }

      &-load-more {
        height: 4.0625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;

        p {
          margin-bottom: 0;
          font-size: 1.5625rem;
        }
      }

      &-load-more:hover {
        background-color:  var(--backgroundButtonColorHover);
        color: var(--textButtonHover);
      }
    }
  }

  .cart-icon {
    position: relative;

    &-count-items {
      position: absolute;
      top: 1.625rem;
      left: 1.8125rem;
      border: 0.125rem solid var(--backgroundColor);
      font-size: 0.625rem;
      background-color: var(--cartItemsBackground);
      color: var(--textInvertColor);
      border-radius: 6.5625rem;
      height: 1.4375rem;
      width: 1.4375rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      cursor: pointer;
      padding: 0.125rem;

      span {
        overflow: hidden;
      }
    }
  }

  .submenu {
    position: fixed;
    top: 4rem;
    left: 5%;
    width: 90%;
    height: 15.8125rem;
    background-color: var(--backgroundSubmenuColor);
    box-shadow: -0.0625rem 1.0625rem 2.1875rem 0.3125rem var(--submenuShadowColor);
    overflow: hidden;

    @include respond(tab-land) {
      display: none;
    }

    &-bar {
      display: flex;
      align-items: center;
    }

    &__title {
      color: var(--textInvertColor);
    }

    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;

      &__item {
        color: var(--textInvertColor);
        &:not(:last-child) {
          margin-bottom: .5rem;
        }
      }
    }

    &-img {
      width: 7.375rem;
      height: 7.6875rem;
      background-color: #122a3b;
    }
  }

}

// переключатели языков и валюты
.toggles {
  padding: 1.25rem;
  background-color: var(--backgroundDropdownListColor);
  border-radius: 0.9375rem;
  box-shadow: -0.0625rem 0.0625rem 2.3125rem -0.5rem  var(--submenuShadowColor);   
  overflow: hidden;

  &__button {
    background-color: transparent;
    color: var(--textColor);
    border: 0.125rem solid transparent;
    padding: 0.3125rem;
    outline: none;
  }

  &__button_active {
    border-radius: 1rem;
    border: 0.125rem solid var(--borderToggleItemColor);
  }

  &__left {
    width: 45%;
  }

  &__right {
    width: 45%;
  }
}

.overlay {
  position: fixed;
  background-color: var(--backgroundColor);
  opacity: .8;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  cursor: pointer;

  &__transparent {
    background-color: transparent;
  }
}
