<div>.</div>
<div>.</div>
<div>.</div>
<div>.</div>
<div>.</div>
<div>.</div>

<button class="btn btn-danger" (click)="initPayment()">Перейти к оплате</button>

<ng-container *ngIf="paymentURL">
  <div class="w-50 h-50 mx-auto">
    <iframe [src]="paymentURL|safe" width="100%" height="600px"></iframe>
  </div>
</ng-container>
